[2012-06-05 23:55] russellharrower opened #1 "wish this had the following"
1) country Currency code
2) Country States
3) Country states capital cities

[2012-07-16 12:43] bnji opened #2 "Wrong char encoding"
These countries aren't displayed correcly:
"R�union" -> Réunion
"Saint Barth�lemy" -> Saint Barthélemy

Ffile & line#:
csv: 181 & 185
json: 180 & 184
xml: 182 & 186
##

Thanks for this list btw ;)

[2012-07-23 09:12] #2 closed, assigned to mledoze

[2012-11-12 02:24] rvowles opened #3 "I need more data, but..."
Hi there, I need the country codes, area codes and flags and structure around these. This information appears to be in a mix of here: http://www.wtng.info/wtng-ctn.html and Wikipedia, so I'm going to write an application in Nodejs that grabs the data from http://www.wtng.info/wtng-ctn.html and exports it to a file, allows overrides and merges with your data. I need to do this for work, hence why I

[2012-11-12 10:20] #1 closed, assigned to mledoze

[2013-02-12 11:27] #3 closed, assigned to nobody

[2013-06-14 06:14] zhusee2 opened #4 "Please remove “Province of China” from Taiwan"
Hi mledoze,

Thanks for this great work, really handy and useful. However it would be even nicer if you can leave Taiwan alone, without the “, Province of China” appendix.

Well it's entirely understandable that this label comes from the ISO 3166 list, but the current truth is Taiwan has its own government and elected president, own currency and own passport. So it would be really thankful if you

[2013-06-15 13:58] #4 closed, assigned to nobody

[2013-10-04 23:47] mledoze opened #6 "What data to add next?"
I would like to discuss here the data that should be added to this repository.

A similar project like 0xJS [1] contains a lot more data such as the land area or the latitude/longitude coordinates of each country.

Is it interesting/useful to have this kind of data too?

Data that can be added:
- land (land mass in square kilometers [3])
- latitude (latitude coordinate of the capital [2])
- longit

[2013-10-22 14:23] scento opened #7 "License info missing"
It would be nice, if the project could be licensed under an open-source license for usage in projects. Maybe the ODBL (http://opendatacommons.org/licenses/odbl/) license might be appropriate...

[2013-10-22 15:18] #7 closed, assigned to nobody

[2013-10-31 11:22] jimeh opened #8 "United Kingdom's TLD is wrong?"
In your data the United Kingdom's TLD is set to `.gb`, which technically is correct, but no longer relevant. While it's true that the `.gb` TLD is assigned to the UK, so is the `.uk` TLD, which is the primary one used. And in fact, `.gb` TLDs can no longer be registered if Wikipedia is be believed:
- http://en.wikipedia.org/wiki/.gb
- http://en.wikipedia.org/wiki/.uk

[2013-10-31 13:24] splitbrain opened #12 "master file + build script"
For making sure data is consistent, it would be helpful to have all data in one master file and then generate the other formats using one or more build scripts. This way people can contribute data easier (no more editing thre separate files).

This would it also make very simple to provide scripts to generate even more output formats (eg. a MySQL dump file).

[2013-10-31 13:44] splitbrain opened #13 "native country name"
The official name of the country in the country's own language would be useful. I see that it is included in the alternate spelling field but that's a bit arbitrary.

Maybe when the official languages are added, the country name could be a subfield of them (at least in JSON and XML).

[2013-10-31 13:46] splitbrain opened #14 "Some inaccuracies"
This HackerNews discussion on a service built on your data has some more info about problems in the dataset: https://news.ycombinator.com/item?id=6646149

[2013-11-02 11:19] fayderflorez opened #19 "Add country regions, provinces, cities and related infos"
From https://github.com/ProGNOMmers
It would be wonderful if it would be possible to retrieve regions, provinces and cities.

Something like:

[code]

Cities could have metadata like f.i. zip codes, which are very useful.

It is a huge work because recording and maintaining the whole list of regions, provinces and cities for every world country is hard, but it is a good target to be accomplished b

[2013-11-02 11:21] #19 closed, assigned to nobody

[2013-11-02 20:25] #8 closed, assigned to nobody

[2013-11-03 10:12] #14 closed, assigned to nobody

[2013-11-11 00:56] mikaelhg opened #22 "Åland Islands is not a country"
Åland Islands is a province of Finland.

Because of this erroneous data, http://restcountries.eu/rest/callingcode/358 returns Åland as the "country" for that calling code.

[2013-11-13 14:14] fayderflorez opened #23 "Languages Codes, Geolocation and Nationality"
Placeholder for Pull Request adding ISO 639-1 languages codes, geolocation and nationality.

[2013-11-16 16:57] #13 closed, assigned to mledoze

[2013-11-25 19:28] vikmeup opened #27 "Country: Republic of Kosovo is missing"
http://en.wikipedia.org/wiki/Republic_of_Kosovo

Could you add this country to the list ?

[2013-11-25 21:04] #27 closed, assigned to nobody

[2013-11-25 22:40] vikmeup opened #28 "Timor-Leste change to Democratic Republic of Timor-Leste"
http://en.wikipedia.org/wiki/East_Timor
officially the Democratic Republic of Timor-Leste

[2013-11-26 00:00] vikmeup opened #29 "Add Ascension Island country"
Wiki link:
http://en.wikipedia.org/wiki/Ascension_Island

[2013-11-28 14:35] fayderflorez opened #30 "type inconsistencies in countries.json"
Hey. I find that some countries have value for language as an array:
`"language": ["English", "Samoan"]`

And others have it as string:
`"language": "Catalan"`

The type should be consistent, and if there's only 1 language, then it should be an array of 1 item.

The problem is that having "language" as string for some and array for others, makes it impossible to deserialize the countries.json :(

[2013-12-02 21:51] #28 closed, assigned to nobody

[2013-12-02 21:52] #22 closed, assigned to nobody

[2013-12-06 16:42] #30 closed, assigned to mledoze

[2013-12-06 16:43] #23 closed, assigned to nobody

[2013-12-06 16:44] #12 closed, assigned to nobody

[2014-01-19 06:53] jackocnr opened #36 "nativeName confusion"
Hi there,

Let me start by saying thank you for this super useful data in JSON format! I use it for my [international telephone input plugin](https://github.com/Bluefieldscom/intl-tel-input).

But I'm confused about the nativeName field. The readme says "native name in its native language", which seems to be the case a lot of the time e.g. Armenia has "Հայաստան", but then sometimes it seems to be

[2014-02-10 13:31] nvitucci opened #37 "Relevance and state names"
Hi! Is there a reason why most states have relevance = 0 while smaller states with the same phone code as bigger ones (e.g. Andorra) have relevance = 0.5? Unless I've misunderstood the usage of this parameter, I'd suggest to change the relevance value from 0 to 1.

On a side note: would it be sensible to keep the names of the states as pure ASCII rather than UTF-8?

Nicola

[2014-02-13 16:06] mledoze opened #40 "Add the country states/regions"
The idea is to add the country states or regions (depending on the country).

A format was proposed here: https://github.com/mledoze/countries/issues/6#issuecomment-27620009

@shanti2530 suggets to import the data from: http://vikku.info/programming/geodata/geonames-get-country-state-city-hierarchy.htm

I propose not to add cities because it would make the dataset too big in my opinion. I prefer t

[2014-02-22 16:19] mledoze opened #41 "Fix the relevance parameter"
As @nvitucci noted in #37, the relevance parameter contains inaccurate data.

We should fix this to make this parameter more relevant.

[2014-02-23 19:53] #29 closed, assigned to nobody

[2014-02-24 13:46] #36 closed, assigned to mledoze

[2014-02-25 07:39] martinsv opened #42 "Wrong currency for Latvia"
Since 1st january 2014 Latvia currency is EUR (Euro)
http://money.cnn.com/2013/12/31/investing/latvia-euro-europe/

[2014-02-25 09:07] #42 closed, assigned to nobody

[2014-03-09 23:59] ghost opened #44 "Wrong capital city for South Africa"
Hi there,

The capital city for South Africa is Pretoria (not Cape Town).

Cheers!

[2014-03-10 09:29] #44 closed, assigned to nobody

[2014-03-12 16:21] #37 closed, assigned to nobody

[2014-03-20 13:00] gerbenjacobs opened #47 "Extended language codes (IETF language tag)"
Maybe it's a good idea to add the extended language codes? This is especially neat if you're going to use this datasource in combination with browsersniffing.

For example in Belgium you now have "nl" and "fr" (apparently also "de", which is new to me). But browsers sometimes show up as "nl-be" or "fr-be". (Or sometimes spelled nl_BE, fr_BE etc) Where in the Netherlands it's "nl-nl".

http://en.wi

[2014-03-27 13:12] Nomeasmo opened #48 "Feature: creation of Node.js package"
It would be great to have a package file for node.js. So I'd keep up-to-date with changes

[2014-03-27 17:25] #48 closed, assigned to nobody

[2014-03-28 12:18] fayderflorez opened #49 "Missing Borders"
Hello!

I noticed that the following list of countries are missing the borders. Is there a plan to complete this data? I'll try to do some myself.

Åland Islands
American Samoa
Anguilla
Antarctica
Antigua and Barbuda
Aruba
Ascension Island
Australia
The Bahamas
Bahrain
Barbados
Bermuda
Bonaire
Bouvet Island
British Indian Ocean Territory
British Virgin Islands
Cape Verde
Cayman Islands
Christmas I

[2014-03-29 10:04] #49 closed, assigned to nobody

[2014-04-01 14:52] oriolfg opened #50 "Other languages for Spain"
Hello, can you adding the other official languages to spain country?

gl for Galego
eu for Euskera
ca for Catalan
oc for Occitan

Thanks

[2014-04-01 15:11] #50 closed, assigned to nobody

[2014-05-08 14:37] stephanned opened #56 "Language codes for Norway"
Should be nb (Norwegian bokmål) and nn (Norwegian nynorsk). no was used previously for both languages so should perhaps also be retained.

[2014-05-09 12:36] #56 closed, assigned to nobody

[2014-07-16 09:43] eugene-lazarev opened #59 "Should I encode my russian translated string to Unicode?"
Hey there!

I really like your project and I'm ready to add russian translate for every single country name.

Just one question: should I encode that strings to Unicode strings like japanese ones? Russian string looks like this: ”**Соединённые Штаты Америки**“ (USA).

Thanks.

[2014-07-16 14:42] #59 closed, assigned to nobody

[2014-07-29 14:33] pelegm opened #61 "Algeria borders LDY"
What is LDY? Is it the cca3 of some other country? I don't see it...

[2014-07-30 08:18] #61 closed, assigned to nobody

[2014-07-31 11:57] pelegm opened #65 "Bolivia borders PRU"
This again (see #61) looks like a typo. Perhaps it should be `PER`?

[2014-07-31 12:55] #65 closed, assigned to nobody

[2014-07-31 13:08] pelegm opened #66 "Senegal borders The Gambia"
Similar to #61; Senegal borders `The Gambia`. Perhaps it should border `GMB`, instead?

[2014-07-31 13:12] #66 closed, assigned to nobody

[2014-08-02 14:44] yackermann opened #68 "Partially recognized and unrecognised states/countries"
I have already done South Ossetia, Abkhazia and currently working on others. Would it be useful for this project?

[2014-08-04 08:16] #68 closed, assigned to nobody

[2014-08-05 19:38] yackermann opened #70 "Question about Caribean Netherlands"
As I can see, Bonaire was separated to independent state, but it is a special region under jurisdiction of Caribbean Netherlands.

[2014-08-15 20:35] fayderflorez opened #71 "Niger demonym"
The demonym for Niger is Nigerien. Sources: bit.ly/1BkIjh8 bit.ly/1BkIglH

I´m sorry I dont have time right now to make a PR

[2014-09-04 15:10] #71 closed, assigned to nobody

[2014-09-05 06:25] yackermann opened #74 "countries.php need help"
I've just done modification to json as proposed by @mledoze and countries.php does not want to work. Here is what I get:

[code]

here is json:

[code]

[2014-09-06 00:59] #74 closed, assigned to nobody

[2014-09-10 10:06] petert82 opened #76 "Relationship between 'language' and 'languageCodes'"
Firstly, thanks for compiling such an awesome dataset!

Secondly, I'm not sure if this is really an issue, or a misunderstanding on my part, but is there supposed to be any correspondence between the contents of `language` array and the contents of the `languageCodes` array?

For example, looking at a country like Canada, it seems that there is a relationship:

[code]

`language` here appears to h

[2014-09-10 13:28] yackermann opened #77 "Svalbard and Jan Mayen issue."
"Svalbard and Jan Mayen (Norwegian: Svalbard og Jan Mayen, ISO 3166-1 alpha-2: SJ, ISO 3166-1 alpha-3: SJM, ISO 3166-1 numeric: 744) is a statistical designation defined by ISO 3166-1 of two parts of Norway under separate jurisdictions—Svalbard and Jan Mayen. While the two are combined for the purposes of the International Organization for Standardization (ISO) category, they are not administrativ

[2014-09-10 14:04] #77 closed, assigned to nobody

[2014-09-12 13:11] #76 closed, assigned to nobody

[2014-09-14 14:09] petert82 opened #79 "Empty array content"
Hi,

Just a quick (possibly silly) question regarding what should be the proper content of a property that would normally be an array, but for a given country has no value. It seems there are currently two different approaches in use for different properties:
1. An array containing an empty string.
2. An actual empty array.

An example, taken from the data for Antarctica:

[code]

I assume this sh

[2014-09-14 18:00] #79 closed, assigned to nobody

[2014-09-17 08:59] #47 closed, assigned to nobody

[2014-09-28 11:19] aimagician opened #83 "MySql/MongoDB extension for this solution"
Hi, I think it would be great to have some solution where would be option also to import this into mysql, mongodb,..? File is already getting bigger, and bigger. I know there are other projects free and commercial where you could get this kind a data, but just giving a suggestion!

[2014-09-28 11:39] #83 closed, assigned to nobody

[2014-10-13 23:30] herrniemand opened #86 "Zimbabwe native language."
As it got to me #85 , we have an issue to resolve. According to our data native language for Zimbabwe currently is 'sn: Shona'. Officially there 16 official languages:

 - Chewa
 - Chibarwe
 - English
 - Kalanga
 - "Koisan"
 - (presumably Tsoa)
 - Nambya
 - Ndau
 - Ndebele
 - Shangani
 - Shona
 - "sign language"
 - Sotho
 - Tonga
 - Tswana
 - Venda
 - Xhosa

I propose to set English as native for

[2014-10-22 14:18] CyntaxDotDev opened #87 "Bring nationalities into the fold"
We're using the entire list to cross-fill in boxes when checking a country, and it seems strange that the list doesn't support nationalities yet. So, as an example:

[code]

Naturally, pay close attention to the last two keys.

[2014-10-26 11:59] #87 closed, assigned to nobody

[2014-12-12 11:42] moffe42 opened #91 "Distribution via composer (and packgist)"
It would be great if the library where distributed via composer and listed on packagist.org.

Thanks.

[2014-12-12 13:27] #91 closed, assigned to mledoze

[2014-12-21 17:47] mledoze opened #93 "Proposal: remove some entries"
After further thinking about #57 and #77, I would like to propose the removal of the following entries, so that each entry in the dataset represent only one entity:

- `Saint Helena, Ascension and Tristan da Cunha` (group of islands)
- `Bonaire`

`Bonaire` for example, share the same ISO codes as `Sint Eustatius` and `Saba` (which are not listed). The same goes for the three islands of `Saint Hele

[2014-12-25 11:59] shehi opened #94 "Azerbaijan Languages"
https://github.com/mledoze/countries/blob/master/countries.json#L645

There is no Armenian language within Azerbaijan, please remove that. Instead, feel free to add Russian as second language, since we were a part of former Soviet Union. Additionally, add Turkish language as it is widely spread brother tongue within country. Thanks!

[2014-12-26 11:28] #94 closed, assigned to nobody

[2014-12-26 18:45] #70 closed, assigned to mledoze

[2015-01-05 09:43] moffe42 commented on #91
Awsome!!!

[2015-01-05 09:45] moffe42 opened #98 "Export tags to packgist"
It would be great to be able to check a specific tag out with composer. Ie. export the tags to packagist.org.

This way it is easier to manage dependencies, instead of getting dev master.

[2015-01-07 10:13] mledoze commented on #98
@moffe42 yes no problem, but I'm a bit new to packagist. Do you know how to do that?

[2015-01-07 10:16] mledoze commented on #98
I just run the command `composer show -v mledoze/countries`, here is the result:
[code]

[2015-01-07 10:24] shehi commented on #98
@mledoze : Please refer to this page for how to create versions for packages in Composer:
https://getcomposer.org/doc/02-libraries.md
To learn more about tagging in Git, check here or countless other resources: http://git-scm.com/book/en/v2/Git-Basics-Tagging

In nutshell, after you have created your Packagist.org account, you will submit your package (git repo) to it. Packagist will checkout the

[2015-01-07 12:01] moffe42 commented on #98
Sorry @mledoze have no experience with packagist as a package maintainer, only consumer.

But as far as I can see, when you start tagging in Github and there is a composer.json present, it should run more or less by it self. You might need to check up on the composer.json content, but that should be fairly easy, given the link from @shehi.

[2015-01-07 12:15] mledoze commented on #98
@moffe42 I'm going to publish a new release so that the latest tag contains a `composer.json` file.

[2015-01-09 15:30] mledoze commented on #86
When the new format for country names was introduced in v1.6, we had to choose one of the country languages for `native` names, thus the `nativeLanguage` property which identifies which one is used.
Instead of having to do that, we could list country names in every native languages.

For example with Peru, we would have something like:

[code]

What do you think?

[2015-01-12 10:44] mledoze commented on #98
With the latest release v1.6.1, Packagist now show it along with `dev-master`.

[2015-01-14 19:28] calvintennant opened #99 "Flag aspect ratio"
It doesn't look like the aspect ratio of your flags are correct.

See: http://en.wikipedia.org/wiki/List_of_countries_by_proportions_of_national_flags

[2015-01-14 23:03] herrniemand commented on #99
Thanks @calvintennant. I will try fix it by Monday.

[2015-01-15 09:00] mledoze commented on #99
@herrniemand thank you for taking care of that.

[2015-01-15 12:35] herrniemand commented on #99
@mledoze @calvintennant  #100  nya*) :shipit:

[2015-01-15 13:56] herrniemand commented on #99
@mledoze I think this issue can be closed

[2015-01-15 14:05] #99 closed

[2015-01-16 09:14] #98 closed

[2015-01-19 11:30] amitport opened #102 "The Golan Heights are not in Syria's territory"

[2015-01-19 11:38] herrniemand commented on #102
http://unispal.un.org/UNISPAL.NSF/0/73D6B4C70D1A92B7852560DF0064F101
Resolution 497 (1981)

Adopted by the Security Council at its 2319th meeting
on 17 December 1981

The Security Council,

Having considered the letter of 14 December 1981 from the Permanent Representative of the Syrian Arab Republic contained in document S/14791,

Reaffirming that the acquisition of territory by force is inadmissi

[2015-01-21 09:38] mledoze commented on #102
@herrniemand do you mean that the GeoJson file for Syria is incorrect?

https://github.com/mledoze/countries/blob/master/data/syr.geo.json

[2015-01-21 09:43] herrniemand commented on #102
@mledoze I am saying that despite the fact that de-facto this territory is part of Israel, de-jure it is part of Syria.

[2015-01-21 09:52] herrniemand commented on #102
@mledoze It is the same problem as Crimea problem. De-facto is part of Russia, but de-jure it is not. So I this this issue need to be closed as this project's idea based on de-jure facts, rather then de-facto.

[2015-01-21 10:28] amitport commented on #102
de-jure, it is disputed, and has been since [1973 Arab–Israeli War - Syrian_atrocities](http://en.wikipedia.org/wiki/Yom_Kippur_War#Syrian_atrocities). You'll find many contradicting _legal_ claims (and with the current Syrian [Nusra](http://en.wikipedia.org/wiki/Al-Nusra_Front)-[ISIS](http://en.wikipedia.org/wiki/Islamic_State_of_Iraq_and_the_Levant)-[Hezbollah](http://en.wikipedia.org/wiki/Hezbo

[2015-01-21 10:31] herrniemand commented on #102
@amitport the dispute is not a problem. Problem the fact that Security Council not agrees with Israel position. The same as no one agrees with Russian position. We can not us double standards as it will cause more dispute.

[2015-01-21 10:33] herrniemand commented on #102
@amitport if we will change it to Israel the way you see, we will be blamed by anyone else for supporting your position. We are not supporting either position, but simplifying to the point `What UN thinks`.

[2015-01-21 10:41] herrniemand commented on #102
@amitport so if UN will say "Hey.```Its Israel territory.```" I will personally push commit to fix it. But till then ignore this minor problem, or fork the project and fix it using http://geojson.io/. Or wait till I fix the issue in my ```visas``` project, and use it.

[2015-01-21 10:44] herrniemand commented on #102
@amitport so for now listen to Hadag Nachash! https://www.youtube.com/watch?v=d_S1PNJUcj8

[2015-01-21 10:48] herrniemand commented on #6
@mledoze I think we need to update translations objects according to the "name" object.
[code]

[2015-01-21 11:39] amitport commented on #102
:+1: NP

[2015-01-21 11:41] herrniemand commented on #102
@amitport since you are from Israel, any suggestions on good bands?*)

[2015-01-21 19:10] herrniemand commented on #86
@mledoze I have not seen it. But I like the Idea.

[2015-01-22 08:36] herrniemand commented on #102
@mledoze I think this issue can be closed.

[2015-01-22 08:37] herrniemand commented on #86
@mledoze I will finish it by monday.

[2015-01-22 08:58] mledoze commented on #86
@herrniemand excellent :+1:!

[2015-01-22 08:58] #102 closed

[2015-01-22 09:15] herrniemand commented on #86
@mledoze How about translation?

[2015-01-22 09:18] mledoze commented on #86
@herrniemand do you mean this https://github.com/mledoze/countries/issues/6#issuecomment-70817726?

[2015-01-22 09:18] herrniemand commented on #86
@mledoze current translations are inconsistent with name object.

Way they are now:
[code]

The way they should be:
[code]

[2015-01-22 09:19] herrniemand commented on #86
@mledoze Yes*)

[2015-01-22 10:05] mledoze commented on #6
@herrniemand I'm ok with this change, although I'm reserved about the increased size of `countries.json`.

[2015-01-22 10:10] mledoze commented on #93
@herrniemand nothing. I edited my first https://github.com/mledoze/countries/issues/93#issue-52601329.

[2015-01-22 10:12] mledoze commented on #41
It's been almost a year now and I haven't found a way to fix this. By that I mean that I couldn't find any data to properly fill this property, so I'm thinking about removing it entirely.

[2015-01-22 12:54] Sjord commented on #6
I would like to know whether a country is in the [European Union]. Is that something suitable for this project to include for every country?

[2015-01-22 14:18] mledoze commented on #6
@Sjord

This has been asked here before (https://github.com/mledoze/countries/issues/6#issuecomment-46950625) and answered (https://github.com/mledoze/countries/issues/6#issuecomment-47659566). Unfortunately, this is not suitable to include in this project.

Though, thank you for asking!

[2015-01-22 19:35] herrniemand commented on #41
@mledoze Quite sad. Althou there really no data I could find too.

[2015-01-22 19:46] herrniemand commented on #86
@mledoze I looked at ```countries``` commit punch card...
![screenshot from 2015-01-23 08 42 22](https://cloud.githubusercontent.com/assets/1636116/5863101/e18ed668-a2db-11e4-8f49-a63a50396eae.png)

[Friday 5pm commits...](http://devopsreactions.tumblr.com/post/98456803030/last-commit-on-friday-5pm)

![Not gut](http://media.tumblr.com/ff5c3eeb689951032d73dffaec1c413a/tumblr_inline_nbk843Svbo1raprk

[2015-01-23 09:31] mledoze commented on #86
yay :laughing:

[2015-01-26 09:30] herrniemand commented on #6
@mledoze I kept translation in one line to keep it smaller.

[2015-01-26 10:39] mledoze commented on #6
@herrniemand I saw it, very good.

[2015-01-27 10:31] herrniemand commented on #86
@mledoze I think we finally solved that issue, so its can be closed.

[2015-01-27 10:32] mledoze commented on #86
@herrniemand yes indeed!

[2015-01-27 10:32] #86 closed

[2015-01-27 10:34] herrniemand commented on #93
@mledoze Ok. I see *)

[2015-01-27 10:34] herrniemand commented on #93
@mledoze How do you reference specific comment?

[2015-01-27 10:36] mledoze commented on #93
You just have to commit its SHA-1 hash, like so 8ec9d7a52c8df1366b8fce7650963b6361ca522d

[2015-01-27 10:38] herrniemand commented on #93
@mledoze I mean actual `message/comment` in the discussion, like you've done previously.

[2015-01-27 10:38] herrniemand commented on #93
@mledoze
[code]

[2015-01-27 10:39] mledoze commented on #93
Select text, then press `r`. More info https://github.com/blog/1399-quick-quotes.

[2015-01-27 10:41] herrniemand commented on #93
Testing

[2015-01-27 10:44] herrniemand commented on #93
@mledoze Found it [LOL](https://github.com/mledoze/countries/issues/93#issuecomment-71624145)

[2015-01-30 13:54] mledoze commented on #6
Yay :smile:  I just got this short URL http://git.io/countries for this project!

[2015-01-30 15:55] petert82 commented on #6
Sweet! :dancers:

[2015-01-30 21:15] herrniemand commented on #6
@mledoze YAY!!!!!!!!!XD

[2015-02-02 16:19] shehi commented on #6
I strongly would advise the addition of provinces and major cities.

[2015-02-02 18:15] herrniemand commented on #6
@shehi #40 is the discussion about that. And @fayder proposed [here(comment)](https://github.com/mledoze/countries/issues/6#issuecomment-27620009) the structure.

[2015-02-03 09:20] shehi commented on #40
So how can we wrap-up this proposal and get on working? :)

[2015-02-03 12:46] Munter opened #108 "Pull in data automatically from CLDR"
http://cldr.unicode.org/ has a lot of this information already, and curated to perfection.

You should probably automate the extraction of duplicate types of information.

https://github.com/papandreou/node-cldr might come in handy here

[2015-02-03 15:07] srl295 commented on #108
It's also available in Json format. Cc @jcemmons and @rxaviers

[2015-02-03 20:12] rxaviers commented on #108
@srl295, thanks for cc'ing.

@Munter, for CLDR in the JSON format use [Unicode's official bindings](http://cldr.unicode.org/index/cldr-spec/json). Files are here: [json.zip](http://www.unicode.org/Public/cldr/26.0.1/json-full.zip) and [json-full.zip](http://www.unicode.org/Public/cldr/26.0.1/json-full.zip). For npm and bower helpers, use `npm install cldr-data` ([more info](https://github.com/rxav

[2015-02-04 08:55] herrniemand commented on #6
@mledoze I just posted it on echojs... and it gone... XD
![tumblr_inline_nglo2t4jud1raprkq](https://cloud.githubusercontent.com/assets/1636116/6037427/67ec2f5e-acb8-11e4-9dd8-d74e431c0493.gif)

[2015-02-04 09:14] mledoze commented on #6
@herrniemand yay thank you:) http://www.echojs.com/news/13325

[2015-02-04 09:15] herrniemand commented on #6
@mledoze XD Thank you dude! Bloody brilliant idea! XD

[2015-02-04 09:18] mledoze commented on #6
Yesterday was a good day, look at the stats: https://github.com/mledoze/countries/graphs/traffic

[2015-02-04 09:19] herrniemand commented on #6
@mledoze its maintainers only view *( Send screenshot.

[2015-02-04 09:36] mledoze commented on #6
![capture](https://cloud.githubusercontent.com/assets/576509/6038000/991d224a-ac59-11e4-95d7-c4560a08c029.PNG)

[2015-02-04 09:38] herrniemand commented on #6
@mledoze Nice! *)

[2015-02-04 14:25] qweek commented on #6
Add sea borders

[2015-02-04 18:34] herrniemand opened #110 "Proposal: Get 1000 likes! XD"
![_007](https://cloud.githubusercontent.com/assets/1636116/6046705/5d37b0fa-ad09-11e4-8763-3a6bc79ecc7b.png)
 I think it is important issue, that we are three likes away from thousand! Somebody should fix it! XD

[2015-02-04 18:53] herrniemand commented on #110
2 more to go*)

[2015-02-04 21:42] herrniemand commented on #110
![_008](https://cloud.githubusercontent.com/assets/1636116/6050350/9e84bd22-ad23-11e4-943f-8f025bd31abd.png)
I guess this issue solved XD
Happy 1000+ stars! :beers:  for everyone!

[2015-02-05 08:55] mledoze commented on #110
Congratulations and thank you to all who contributed!!! :smiley:

https://github.com/mledoze/countries/graphs/contributors

[2015-02-05 08:55] #110 closed

[2015-02-05 12:47] aungthurhahein opened #111 "demonym of Myanmar"
I took a look at json file and saw that demonym of Myanmar citizen as "Myanmarian". The correct words should be "Bamar" or "Burmese".

[2015-02-05 14:03] #111 closed

[2015-02-05 14:04] mledoze commented on #111
Thank you, it's has been fixed in https://github.com/mledoze/countries/commit/1480bc528988c6c55bddf3a29e0cf404157bf660.

[2015-02-05 17:45] nasht00 opened #113 "Kosovo"
As of January 1st 2015, Kosovo has its own country code:
http://en.wikipedia.org/wiki/Telephone_numbers_in_Kosovo

[2015-02-05 17:48] NathanHazout opened #114 "Countries with multiple calling codes"
Because my application logic has a hard time with the concept of a country with multiple country codes, I decided to take a look:

Kazakhstan
Kosovo
Puerto Rico
Vatican City
Dominican Republic

For all of them, a google search told me there was only 1 country code.
Often, it seems you include some of the regional codes as part of the calling code...

Also, I randomly looked at Dominica which retur

[2015-02-06 09:16] #113 closed

[2015-02-06 09:19] mledoze commented on #113
@nasht00 thank you for the fix!

[2015-02-07 19:52] Wikunia opened #119 "Country borders (coordinates)"
Hey guys,

do you want to integrate the border coordinates for each country?
Something like this stuff: http://github.wikunia.de/Table2Chart/getFunctions/layer.php?country=Australia

[2015-02-07 22:07] herrniemand commented on #119
@Wikunia countries project have countries outlying in [data folder] (https://github.com/mledoze/countries/tree/master/data). We store data in GeoJSON format.  Example https://github.com/mledoze/countries/blob/master/data/aze.geo.json

[2015-02-07 22:09] Wikunia commented on #119
@herrniemand oh didn't see it. Thanks!

[2015-02-07 22:09] #119 closed

[2015-02-07 22:13] herrniemand commented on #119
@Wikunia *)

[2015-02-09 14:16] mledoze commented on #40
@wiredmax any updates on this one? If you don't have time to finish this, it's not a problem, someone can take over.

[2015-02-09 15:22] #41 closed

[2015-02-09 16:05] mledoze commented on #114
Could you please provide a source for this? I couldn't find any.

[2015-02-09 17:16] nasht00 commented on #114
http://en.wikipedia.org/wiki/Telephone_numbers_in_Kazakhstan

http://en.wikipedia.org/wiki/Telephone_numbers_in_Kosovo

Actually in Google just type "[country name] country code" and you will see a big square with the flag and the country code.

Here is another source: http://countrycode.org/puertorico

http://countrycode.org/country_detail.cfm?countryid=104

I think that part of the problem is th

[2015-02-09 17:40] herrniemand commented on #114
@nasht00 Thanks for the answer. That explained a lot.
@mledoze I will take care of implementation. Give me couple of days.

[2015-02-09 19:13] mledoze commented on #114
@nasht00 yes calling codes include local area codes. These codes are for making an *international* call.

Yes, this is true for Canada the United States, for example. But why is this a problem for your application?

[2015-02-09 19:37] nasht00 commented on #114
I don't mean Canada and the US. Like mentioned before, like the 25 countries that share "+1", but where most of those 25 countries are not listed as "+1" in this database.

I don't mean a problem for my application, I mean a problem in defining the country code for each country. I mean the source of the confusion.

You wrote "yes calling codes include local area codes." But that's not so obvious.

[2015-02-09 20:46] petert82 commented on #114
Maybe I'm being slow, but I don't quite understand this. If it's the international dialling code, why does it ever need a local part?

I'm almost certain that the dataset would be more correct if all countries only had one international dialling code, and the countries that have extra 'local' digits included currently (like Dominica) were reduced to just the international code.

And if we want to

[2015-02-10 09:32] mledoze commented on #114
@nasht00, @petert82 thank you for your explanations, I think you are right on this, I'm ok to have only one calling code per country, it makes more sense now.

@herrniemand

You proposed to fix this, would you like some help?

[2015-02-10 09:34] herrniemand commented on #114
@mledoze Nah. Its just couple of python scripts. I will finish it by Friday.*)

[2015-02-24 23:37] cumanacr commented on #6
Hi, super useful project!
Thanks for maintaining it.

I'm aware that population data were added it, then, were removed on:

But, What about include population historical data only?

Like this:

[code]
And we can get another interesting historical info for each country from [google](https://www.google.com/search?client=ubuntu&hs=ESQ&channel=fs&q=costa+rica+population&stick=H4sIAAAAAAAAAGOovnz8BQMDw

[2015-02-25 19:39] cumanacr opened #126 "Duplicated ccn3 code for Trinidad and Tobago & Kosovo"
On [ISO 3166-1](http://en.wikipedia.org/wiki/ISO_3166-1_numeric#Officially_assigned_code_elements) "780" code is assigned to Trinidad and Tobago

But on countries.json [Kosovo](https://github.com/cumanacr/countries/blob/master/countries.json#L5466) had the same number assigned, something that IMHO isn't correct because is Trinidad and Tobago's code.

I look for the correct code but I had no luck s

[2015-02-25 19:53] herrniemand commented on #126
@cumanacr here is the note about XK code:
`The code XK is being used by the European Commission,[19] Switzerland,[20] the Deutsche Bundesbank,[21] SWIFT,[22] and other organizations as a temporary country code for Kosovo.[23]`
[wikipedia](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#User-assigned_code_elements)

That is why there is no `ISO 3166-1 numeric` code for Kosovo. As for the duplicate

[2015-02-25 20:09] cumanacr commented on #126
Yay :smile: thanks!!!

It's going to be empty?

[code]

[2015-02-25 20:09] herrniemand commented on #126
@cumanacr jep.

[2015-02-25 20:20] cumanacr commented on #126
@herrniemand perfect, this project is awesome, keep up the good work :+1:

[2015-02-25 20:22] herrniemand commented on #126
@cumanacr I just had send email to ISO about situation with Kosovo. Because currently we have problem with ISO 3116-3 code, as it is not verified either.

[2015-02-25 22:44] cumanacr commented on #126
Way better, maybe, they'll answer soon

[2015-02-26 08:24] herrniemand commented on #126
@cumanacr a reply
In accordance with ISO 3166-1:2006,  subclause 7.2, the ISO 3166 Maintenance Agency does not make any additions of new country or territory names to ISO 3166-1 if the source of the information is not the United Nations,  i.e. if the name is not listed in either the UN Member States list (http://www.un.org/members/list.shtml#m) or the list "Country and Region Codes for Statistical

[2015-02-26 08:26] herrniemand commented on #126
@cumanacr Reply from ISO:

In accordance with ISO 3166-1:2006,  subclause 7.2, the ISO 3166 Maintenance Agency does not make any additions of new country or territory names to ISO 3166-1 if the source of the information is not the United Nations,  i.e. if the name is not listed in either the UN Member States list (http://www.un.org/members/list.shtml#m) or the list "Country and Region Codes for St

[2015-02-26 08:27] herrniemand commented on #126
@cumanacr So basically we will have to remove `alpha-3` and `alpha-2 numeric` codes from the project.

[2015-02-26 08:58] mledoze commented on #126
@herrniemand

What do you mean?

[2015-02-26 09:02] herrniemand commented on #126
@mledoze I mean that Kosovo simply don't have `3116-1 alpha-3` and `3116-1 numberic` codes. It has only temporally `3116-1 alpha-2` code `XK` requested by EU.

[2015-02-26 09:14] mledoze commented on #126
@herrniemand I see. I'll only remove the `ccn3` property because we have [kos.geo.json](https://github.com/mledoze/countries/blob/master/data/kos.geo.json) and [kos.svg](https://github.com/mledoze/countries/blob/master/data/kos.svg).

[2015-02-26 09:18] herrniemand commented on #126
@mledoze ok.

[2015-02-26 11:21] #126 closed

[2015-02-26 13:56] mledoze commented on #6
Hello @cumanacr, thank you for your comment but unfortunately this project does not contains historical data. One good candidate for this kind of data would be the [tinata](https://github.com/tinata/tinata) project, you could ask there.

[2015-02-27 17:01] Shawful opened #129 "countries was not injected in your file"
When using yeoman's <code>grunt serve</code> command, my command prompt tells me that "countries was not injected in your file. Please go take a look in 'app/bower_components/countries' for the file you need, then manually include it in your file."

Any idea what's going on?

[2015-02-27 21:16] Shawful commented on #129
Similar issue here?

Font-awesome issue:
https://github.com/stephenplusplus/grunt-wiredep/issues/25

[2015-02-27 21:20] Shawful commented on #129
This might possibly be the cause:

Popcorn.js injection problem/solution:
http://stackoverflow.com/questions/21840776/popcorn-was-not-injected-in-your-file

[2015-02-27 21:29] Shawful commented on #129
yes, adding the following property within the bower.json file of the project resolved the issue for me.

<code>"main":"./index.js",</code>

If I have time, I will add this to the open source code base.

[2015-02-27 21:37] Shawful commented on #129
Acutally, I don't see the bower.json file - not sure how to proceed.

[2015-02-27 21:37] #129 closed

[2015-03-02 14:50] mledoze commented on #129
@Shawful it's because this project has not yet been made available as a bower package. For the moment, it's only available as an [npm package](https://www.npmjs.com/package/world-countries)

[2015-03-02 18:07] cumanacr opened #130 "Contradictory contribution rules?"
Hi @mledoze I'm trying to merge upstream/master on #125 to keep it up to date.

So, I checked, README.md on [countries/dist](https://github.com/mledoze/countries/blob/master/dist/README.md) which says:  **"Do not commit any changes here"**

But, [CONTRIBUTING.md](https://github.com/mledoze/countries/blob/master/CONTRIBUTING.md), says:
"You can contribute to this project by simply adding or fixing

[2015-03-02 18:53] cumanacr commented on #6
@mledoze thanks, but no thanks, I like this project :smiley:

Maybe a separate file like #40 proposes for the country regions but on historical data, eg:

* cri.historicaldata.json
* cri.hdata.json
* cri.hd.json

This way, countries.json keeps small.

maybe something like that, is better?

Regards

[2015-03-02 22:20] petert82 commented on #130
I think the essence of this is: don't _only_ commit changes in the dist files. Those should always be generated from the non-dist countries data.

[2015-03-02 22:31] herrniemand commented on #130
@cumanacr that is why there is line "This distribution folder contains generated data.".

What happend previously is that people were doing changes into our dist data, so we had to reject their commits. That is why there is the message.

[2015-03-02 22:33] mledoze commented on #130
@petert82 is right. We created this README.md to prevent contributions and/or fixes that were made only to the files in this directory and not in the master countries.json file. The correct process is to first modify the master file, and then regenerate the dist files using the conversion script.

[2015-03-02 23:30] cumanacr commented on #130
@petert82 @herrniemand @mledoze thanks, roger that.

That's how I was doing it until now, so, no problem, CONTRIBUTING.md is clear.
But the doubt came when I read README.md on countries/dist.

Thanks again.

[2015-03-02 23:30] #130 closed

[2015-03-03 17:27] JacquesMarais opened #132 "Multiple capitals"
Allow some countries to have multiple capitals like South Africa has 3: Pretoria, Cape Town and Bloemfontein

[2015-03-03 17:28] JacquesMarais commented on #6
Multiple Capitals.

[2015-03-05 18:44] Newman101 commented on #132
I think this can be sorted out - as far as I know, JSON supports multiple values for same key through arrays.

http://stackoverflow.com/questions/17093180/store-multiple-values-in-single-key-in-json

[2015-03-06 10:17] mledoze commented on #132
@JacquesMarais yes no problem. Would you mind sending a pull request with this modification?

[2015-03-06 14:35] JacquesMarais commented on #132
Right, I sent a PR.

[2015-03-11 15:19] wiredmax commented on #40
@msabeh and I will start working on this. Starting today, we will fork it and structure the data this way if you still agree:

The only only change with the previously disccussed in this issue is the lower case type.

`/data/can.json5`
[code]

We'll start with the easy ones (from our perspective) North America and Europe, than South and Central America, Africa (starting with Magreb and Northern af

[2015-03-11 16:49] mledoze commented on #40
@wiredmax I'm glad to hear that you are working on this. I still agree with the format. I think that we should use the same format for the `name` property. So in this case:

[code]
It's a bit verbose, but it's coherent with the data in [`countries.json`](/mledoze/countries/blob/master/countries.json).

What do you think?

[2015-03-11 16:56] mathieumg commented on #40
@wiredmax I imagine you meant to use double-quotes for the names?

@mledoze I agree, while it's more verbose it's more thorough, more flexible and (as you pointed out) consistent with the rest.

[2015-03-11 17:01] wiredmax commented on #40
@mathieumg Yes they are double quoted since it's regluar JSON and not JSON5

[2015-03-11 17:10] wiredmax commented on #40
@mledoze For the name I agree to, but shall we do it only at the first level or both? Doing it on both level seems a bit heavy for me since to me the native name is the one always used.

[code]
vs

[code]

[2015-03-11 17:21] mledoze commented on #40
@wiredmax yes doint it on both levels is too heavy.

This solution
[code]
is better :+1:

[2015-03-11 17:22] mathieumg commented on #40
But you keep using single quotes in your examples. :wink:

[2015-03-11 17:29] wiredmax commented on #40
All good then @msabeh will start working on the fork, starting with North America, once done I'll submit a PR that we could merge in a regions branch onto your project and see if there's needed ajustements and then continue further with Europe.  Once all the regions of the word are 98% (2% we are talking about the weird case we will probably find) you could then merge onto master.

@mathieumg I kn

[2015-03-11 17:32] msabeh commented on #40
Yay! I'll be working on this this afternoon, I'll keep you guys posted.

[2015-03-21 20:54] JacquesMarais commented on #132
Please see the PR.

[2015-03-22 17:23] mledoze commented on #132
@JacquesMarais yes I have not forget it, I'll do it as soon as I can. Thank you for your patience.

[2015-03-23 12:17] Purus commented on #6
We have just the list of languages. How about adding official languages? For example, India has too many languages and there are around 15+ official languges out of all.

[2015-03-24 09:36] mledoze commented on #6
@Purus the `languages` property already contains the list of official languages for each country (see [README](https://github.com/mledoze/countries/blob/a0f1c99f7c7217a06b14871463dbc6e75dbdd603/README.md)). I know that there are some countries with many recognised regional languages, I would prefer no to take them into account as it would make the dataset too big.

[2015-04-05 13:38] #93 closed

[2015-04-17 17:53] ruimarinho commented on #126
@mledoze / @herrniemand, shouldn't Kosovo's `cca3` be listed as `XKX` until it is recognised by the UN, instead of `KOS`?

[2015-04-17 22:04] herrniemand commented on #126
@ruimarinho No. Because Kosovo has only temporally alpha-2 code XK. But since we already used faulty alpha-3 code for our linking and referencing, we decided to **keep** faulty code for data integrity.

[2015-04-21 09:30] mledoze commented on #126
@ruimarinho: @herrniemand is right, please see my comment on 26 Feb.

[2015-05-07 01:58] ruimarinho commented on #126
Right, but since `XKX`'s usage is quite widespread (e.g. it is used by the European Commission), even if unofficially, I think it's more correct to keep this version instead of "KOS".

[2015-06-19 11:02] DraperStudio opened #141 "Allow Symfony 2.6 and 2.7"
Hi,

I have a Package for Laravel that pulls in your Package and uses the data to seed the database with countries. The issue at the moment is that Laravel 5.1 requires the Symfony 2.7 packages and your package the 2.6 release.

Would it be possible to allow both versions like so `"symfony/console": "2.6.*|2.7.*"` or do you stay on 2.6 for any specific reason?

[2015-06-20 12:28] #141 closed

[2015-06-20 19:37] thomasschiet opened #143 "Solomon Islands Dollar"
The currency is listed as SDB instead of the correct SBD.

[2015-06-21 17:32] mledoze commented on #143
@thomasschiet thank you for this, @DraperStudio sent a pull request #144, and it has been merged.

[2015-06-21 17:32] #143 closed

[2015-07-02 14:51] CIRCLE73 opened #146 "South Georgia and the South Sandwich Islands"
South Georgia and the South Sandwich Islands are not a country of South America.
It is a country from Antarctica.
http://www.newworldencyclopedia.org/entry/List_of_countries_by_continent#Antarctica

[2015-07-03 01:03] herrniemand commented on #146
@CIRCLE73 No. They are not. But they are "British overseas territory" and so "theoretically" if they would have population they would be represented as separate object of international law. They have even separate iso code "gs".

[2015-07-03 10:14] #146 closed

[2015-07-29 08:14] thefabulousdev opened #148 "Remove sub attribute."
I want to remove the countries name.native attribute on the output, is it possible to remove sub attributes?

[2015-07-29 08:16] herrniemand commented on #148
@thefabulousdev unless you just remove with script. P.S. Give me a day and I will write you one.

[2015-07-29 08:20] thefabulousdev commented on #148
Thanks for the quick reply, just wondering if I would be able to do it out of the box, I had already contemplated that I would probably have to write a script so I'll do it no problem , thanks for offering anyways.

[2015-07-29 08:27] herrniemand commented on #148
@thefabulousdev might want to look at that https://github.com/herrniemand/countries-dev

[2015-07-31 08:58] thefabulousdev commented on #6
How about adding the currencies names?

e.g.
[code]

[2015-07-31 09:09] petert82 commented on #6
@thefabulousdev For me, that's something that's better solved by cross-reference to a dedicated data-set. Something like [this](https://github.com/mhs/world-currencies/blob/master/currencies.json) for example.

[2015-07-31 21:43] herrniemand commented on #6
@petert82 agree

[2015-08-02 11:39] hebrew878 commented on #6
can you add language direction? ltr and rtl ?

[2015-08-02 11:40] hebrew878 commented on #6
can you add language direction? ltr and rtl ?

[2015-08-20 09:41] mledoze commented on #148
@thefabulousdev for the moment it is not possible. You can only select a list of top-level fields that you want to include in the generated files.

[2015-08-20 09:41] #148 closed

[2015-08-21 00:26] pjona commented on #6
Hey,

would you be interested to add Polish translation?
I could prepare commit with data from [this list](https://gist.github.com/lukaszfiszer/7185871).

[2015-08-21 00:33] herrniemand commented on #6
We can. But not using that list. It is mixed up. There no distinction
between official name and common name, such as
+ Rosya(Russia) - common
+ Republika Południowej Afryki(Republic of South Africa) - official

2015-08-21 12:26 GMT+12:00 Marek Skiba <notifications@github.com>:

[2015-08-21 08:08] mledoze commented on #6
@pjona

That could be a good addition, but @herrniemand is right we will need both common and official names.

[2015-08-26 08:21] TuningGuide commented on #6
I would like to have official and main language. For example for austria the official lang would be german and the main language would be bar.

[2015-08-31 12:18] krisumaru opened #150 "Missing Country Bonaire"
There is a country Bonaire missing in this data.
https://en.wikipedia.org/wiki/Bonaire
http://mainfacts.com/world-countries-capitals-cities-codes/BQ-BES-Bonaire,-Saint-Eustatius-and-Saba

[2015-08-31 12:26] mledoze commented on #150
@krisumaru the country is not missing in the repository, it is here https://github.com/mledoze/countries/blob/8298119ec2468dbcc80f8faba3f59a0d588dd86e/data/bes.divisions.json
It is not in the main `countries.json` file because there are multiple countries with the same ISO 3166-1 alpha-3 code (BES), so these countries have been moved into the `data` folder. The same goes for countries with the SHN

[2015-08-31 19:59] #150 closed

[2015-09-02 10:15] coding-sunshine opened #151 "Timezones"
Is there any way to get timezone list of countries?

[2015-09-02 10:19] herrniemand commented on #151
@coding-sunshine we have decided not to add timezones yet, as they tend to change too frequently.
Please read this thread https://github.com/mledoze/countries/pull/106.
But you can get latest timezone db from http://timezonedb.com/download

[2015-09-02 10:22] herrniemand commented on #151
@coding-sunshine check this out as well https://github.com/AnatoliyGatt/timezonedb-node

[2015-09-02 19:58] coding-sunshine commented on #151
Thanks

[2015-09-02 19:58] #151 closed

[2015-09-02 20:13] herrniemand commented on #151
@coding-sunshine *)

[2015-09-22 19:31] toubou91 opened #153 "Tax rates key proposal"
What about providing also a tax rates key?

The following links might seem helpful:
<ul><li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_tax_rates">wiki tax rates</a></li><li><a href="https://euvatrates.com/rates.json">EU VAT Rates Web Service<a/></li></ul>

[2015-09-22 19:41] herrniemand commented on #153
Hey @toubou91. Thank you for you idea.
Unfortunately tax-rates is quiet variable data, and so it would take too much resources to maintain. We had the same issues with population, and it ended up removed(https://github.com/mledoze/countries/issues/6#issuecomment-42322804).
In this project we are trying to maintain accurate, static basic information about countries, not the most widely defined.
But

[2015-09-22 19:49] toubou91 commented on #153
Hello @herrniemand , not a problem at all.
Actually, I just learned sth new; taxes use to vary in countries other than Greece, too, hah.

Cheers!

[2015-09-22 19:49] #153 closed

[2015-09-22 19:50] herrniemand commented on #153
@toubou91 *)

[2015-11-02 12:36] StephanGeorg opened #156 "Country bounds"
A missing feature is the bounds (northeast and southwest) of the countries like [geonames.org](http://api.geonames.org/countryInfoJSON?lang=it&country=DE&username=demo).

[2015-11-06 15:14] madsbrydegaard opened #157 "Native names as list?"
Have you considered changing the native names into a list?

Use case example:
I want to output the native name in a list.
When iterating I should be able to reference the first native name.

Now its only possible to output the native name if I know which language code I want.

[2015-11-07 10:03] herrniemand commented on #157
@madsbrydegaard Native languages object represented as object, as there could be more then one native language for the country, i.e. New Zealand with English, Maori, and so they are distinguished by the language code.

From another side, I don't see any technical problem to iterate through an object. Here is some examples how to iterate over native languages object:

JavaScript:
[code]

Python
[co

[2015-11-07 15:27] madsbrydegaard commented on #157
Gotcha

[2015-11-07 15:27] #157 closed

[2015-11-08 00:42] herrniemand commented on #157
@madsbrydegaard  *) Happy to help

[2015-11-15 22:02] nevenavv opened #158 "Missing BQ country code"
https://en.wikipedia.org/wiki/Caribbean_Netherlands

[2015-11-15 22:58] herrniemand commented on #158
@nevenavv Caribbean Netherlands dissolute in 2010(https://en.wikipedia.org/wiki/Dissolution_of_the_Netherlands_Antilles). Please refer to #150.

[2015-11-16 10:39] herrniemand commented on #156
@StephanGeorg I am not sure if this would be useful to the project. It might be too precise. Perhaps you mention this at our future plan discussion #6.

[2015-11-23 18:27] mledoze commented on #158
@nevenavv please see this comment: https://github.com/mledoze/countries/issues/150#issuecomment-136358570.

[2015-11-23 18:27] #158 closed

[2015-11-23 18:32] mledoze commented on #156
@StephanGeorg yes this feature is missing, I thought it was not particularly useful. Maybe I'm wrong, so please propose this in #6, there might be a need for this.

[2015-11-23 18:32] #156 closed

[2015-12-01 00:58] hackel commented on #126
I just came across this issue while trying to update https://github.com/kherge-abandoned/lib-country (though this project looks better and is actually maintained!).

According to https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3 "UNK identifies Kosovo residents to whom travel documents were issued by the United Nations Interim Administration in Kosovo (UNMIK)," though no source is given for this.

[2015-12-01 01:05] herrniemand opened #159 "Change Kosovo alpha-3 ISO code from KOS to UNK."
As @hackel found out from https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3,
"UNK identifies Kosovo residents to whom travel documents were issued by the United Nations Interim Administration in Kosovo (UNMIK)". I will contact UNMIK first, and confirm such information, first.

[2015-12-01 01:09] herrniemand commented on #126
@hackel Hm... I will open issue based on that fact.

[2015-12-07 10:28] mledoze commented on #159
@herrniemand could you please send a pull request?

[2015-12-07 17:12] herrniemand commented on #159
Sure. As soon as i get to office
7 дек. 2015 г. 11:28 PM пользователь "Mohammed Le Doze" <
notifications@github.com> написал:

[2015-12-08 09:48] #159 closed

[2015-12-17 05:46] jhourlad commented on #6
Lovely. I would have used it if it has timezone in it.

[2015-12-17 15:08] mledoze commented on #6
@jhourlad please read this thread https://github.com/mledoze/countries/pull/106 to see why timezones were not added in this project.

[2016-01-21 13:15] Techbrunch opened #162 "`languages` key is not excluded with JSON converter"
[code]

Expected:

[code]

Result:

[code]

[2016-01-21 13:33] #162 closed

[2016-02-01 08:13] martin-ro commented on #6
Looking https://en.wikipedia.org/wiki/Continent there is no "Oceania" continent. The JSON label says region which makes sense to call the proximate islands of Australia Oceania though its not really a continent (depending who you ask).

Would it make sense to add a continent field according to one or more of the existing continent models?

cheers

[2016-02-02 03:26] jeffrico opened #165 "Suggestion: make demonym translatable"
I think it would be just wonderful if demonyms would be translatable...
Just an opinion...

[2016-02-02 09:45] mledoze commented on #165
@jeffrico yes that would be a good idea. Do you have a preferred language with which you would like to start?

[2016-04-02 12:59] newerton opened #169 "Languages in JSON"
Why not use the ISO 639?

[2016-04-02 21:18] herrniemand commented on #169
@newerton We are using three-letter ISO 639-3 language code

[2016-04-02 21:27] newerton commented on #169
@herrniemand The correct, would not 2 letter?

Example of my Country.
Portuguese Brazil is 'pt-BR', not 'por'.
'pt' is Portuguese and 'BR' of Brazil.

In the case of '[por] => 'Portuguese'', I can not identify whether it is Portuguese from Portugal or Brazil.

In Portugal is 'pt' or 'pt-PT'.
'pt' is Portuguese and 'PT' of Portugal.

Sorry my English!

Tranks!

[2016-04-02 21:30] newerton commented on #169
Just one correction, I am developing a database for languages that are supported by browsers, and 2 letters of the final, I'm taking the field 'CCA2'.

Thanks!

[2016-04-02 21:36] herrniemand commented on #169
@newerton CCA2 should not be used for as ISO639. Despite their similarity there is a lot of difference.
For instance. If you get person from Switzerland(ch), which of the 7 languages should you use? Or Austria:(at), ho would you convert that to German?

You better be using user prefer language, and then using that convert to ISO639-3

[2016-04-02 21:37] herrniemand commented on #169
@newerton In countries project we decided to use ISO639-3, due to limitations of ISO639-2 codes. A lot of languages are not represented in ISO639-2 due to its size limitation.

[2016-04-02 21:40] herrniemand commented on #169
@newerton good example [Serbo-Croatian](https://en.wikipedia.org/wiki/Serbo-Croatian) language, that does not even have Alpha-2 code.

[2016-04-02 21:43] newerton commented on #169
Understand!

The problem is that browsers work with ISO 639-2 and ISO 3166.
I will use the Google Maps API, for my purpose!

Thanks for the help!

[2016-04-02 21:44] herrniemand commented on #169
@newerton happy to help*)

[2016-05-08 15:37] #169 closed

[2016-05-08 15:38] mledoze commented on #165
ping @jeffrico :wink:

[2016-05-13 03:54] jlchafardet opened #172 "add language iso code"
it would be amazing to have the language iso code for each language/country.

for example:
Spain
Language: Spanish,
Locale Code: es_ES

[2016-05-13 08:59] herrniemand commented on #172
@jlchafardet Countries project idea is to create simple DB about ISO countries. i18n codes are rather specific, and not going to work since for languages we use Alpha3 codes.

[2016-05-21 17:59] guoyunhe opened #174 "UTF-8 character format of the source file countries.json"
Since countries.json is used for editing and contribution, it should be easy to read for human. But now it is written like this:

[code]

Without special tools, people cannot read this or write their own. Should it just use unescaped JSON? Anyway you can export escaped JSON in dist folder.

Thanks!

[2016-05-22 02:04] herrniemand commented on #174
@guoyunhe The reason for this is that for JSON to be valid, non ASCII chars have to unicode escaped.

[2016-05-22 02:06] herrniemand commented on #174
@guoyunhe How ever, you are right. Maybe we do need to make main file non escaped, since it is mainly used for editing.
@mledoze what do you think?

[2016-05-22 07:29] guoyunhe commented on #174
It depends on the JSON parser we used. Today, most of JSON parsers can decode unescaped JSON. Since this project uses PHP to parser JSON data, and PHP's `json_decode()` function can decode unescaped JSON, I think it will be okay.

Here is an example:

[code]

Output:

[code]

[2016-05-22 12:39] guoyunhe opened #175 "Chinese language code and name"
Here are a lot of "cmn" and "zho" for Chinese language. "cmn" is only for Mandarin Chinese, but "zho" is for all Chinese languages. Since here is no other varieties used, we can just use only one, "zho" or "cmn", rather than mixing both.

Current:
[code]

Suggestion, replace all "cmn" with "zho":
[code]

[2016-05-22 12:47] herrniemand commented on #175
@guoyunhe As a developer of the countries.json language system, I give you my :+1: to perform the changes.

[2016-05-22 12:58] guoyunhe commented on #175
OK, I will make a pull request later.

I will keep "languages" properties still `"cmn": "Mandarin"`, since official languages are indeed Mandarin not general Chinese. But language code in "name" and "translations" properties will be changed to "zho".

[2016-05-22 13:00] herrniemand commented on #175
@guoyunhe Languages is corresponds directly to name object. So could you please change language codes in languages objects as well, just keep the name. i.e. `"cmn": "Mandarin"` -> `"zho": "Mandarin"`

[2016-05-22 13:03] guoyunhe commented on #175
I think the valid code-name match is `"zho": "Chinese"`, I can also change it to this if others agree.

[2016-05-22 13:06] herrniemand commented on #175
@guoyunhe `zho` is ISO 639-3/2 code for Chinese language. `cmn` is ISO 639-3 is individual code for Mandarin language variation of Chinese. So `zho` will be enough sufficient,

[2016-05-22 21:05] guoyunhe opened #176 "php runtime error"
[code]

Since composer.lock file doesn't exist, composer might install newer version packages.

[2016-05-24 16:12] #175 closed

[2016-05-24 16:23] mledoze commented on #176
Hello @guoyunhe, which PHP version do you use?

[2016-05-24 16:31] mledoze commented on #176
I ran the same commands as you and it works.
Here are the versions I have after a fresh installs:
[code]

I'll soon commit a composer.lock file to prevent these kind of issues.

[2016-05-31 08:25] olimortimer commented on #6
As mentioned by others, it would be useful to be able to know if a country is within the EU.

https://en.wikipedia.org/wiki/Member_state_of_the_European_Union

[2016-05-31 08:36] mledoze commented on #6
Hello @olimortimer, yes this has been asked before by others, but unfortunately, this kind of data does not suit this project.

Please see this comment https://github.com/mledoze/countries/issues/6#issuecomment-71026239.

[2016-06-07 15:23] pkostov opened #178 "Map Projection"
It is not quite a problem with the data itself and I'm sorry if my question is redundant, but I tried to find information about the map projection of the geographic data in the geojson files and the latitude/longitude centroids of the countries.

Could the map projection be "Web Mercator" (EPSG:3857) - the same Google uses? It might be interesting for other people that this is put somewhere with t

[2016-06-08 07:40] herrjemand commented on #178
Hey @pkostov. A map projection is a systematic transformation of the latitudes and longitudes of locations on the surface of a sphere or an ellipsoid into locations on a plane.

Think about map projections like a different geometric objects, and GeoJSON data like a stretch fabric that you stretch over it. When you stretch fabric over ellipsoid, relative location of points on the fabric, does not c

[2016-06-08 08:37] #178 closed

[2016-06-21 13:17] maquejp commented on #6
Hello,
About adding the cities, you can maybe see what the Eurostat is doing : http://ec.europa.eu/eurostat/web/nuts/overview

[2016-06-21 13:47] maquejp commented on #6
**Add a format: SQL (for main AND data)**
I have done it for the main (1st draft of the data attached to this comment)
I will work on the by country files to turn them into SQL too.

[mledoze.countries.sql.zip](https://github.com/mledoze/countries/files/325694/mledoze.countries.sql.zip)

[2016-06-21 13:54] herrjemand commented on #6
@maquejp Countries project ideology is KISS. Adding cities would majorly increase the size of the project, and would not serve according value. So I personally vote not on that idea.

About SQL DUMP: I don't see much of an issue to write a script that loads json into DB. There are far more then enough solutions online/stackoverflow. As addition it is a major security risk, to just load random sql

[2016-06-23 10:20] rootwalla opened #181 "Default/official language"
The country model lacks an official or primary language property.
Without one, the first language in the set becomes it by implication.
This is not always correct or respected.

As in the case of Italy, where bavarian german is in first place and not italian.

[2016-06-23 23:42] herrjemand commented on #181
@rootwalla There is no such a concept as official language. There is official `languages`. For example: New Zealand official languages are English and Maori(and Sign Language), but majority speaks English. If we were just leave English as official language, that would just be majoritarian decision, and not represent the official status.

As to Italy and few other countries: During implementation o

[2016-06-23 23:48] herrjemand opened #182 "Remove region specific languages from countries"
For Italy `Bavarian German` is official language, but in reality it is only official in South Tyrol. There are multiple examples of this issue. @herrjemand should totally fix it.

[2016-06-23 23:48] herrjemand commented on #182
Referencing #181

[2016-06-27 08:37] rootwalla commented on #181
OK, then the language array should (try to) obey most spoken order.

thanks

[2016-06-27 08:53] herrjemand commented on #181
@rootwalla It is easy to say, and hard to implement, hard to maintain as well. Very excessive, and useless information.

As addition, it is not exactly an issue in Countries project.

[2016-07-24 18:14] nerik opened #185 "Thanks :)"
This lib is very useful, and it's a pleasure using it. Thanks for your work.

[2016-07-24 18:14] #185 closed

[2016-07-24 23:36] herrjemand commented on #185
@nerik XD

[2016-07-28 15:20] mledoze commented on #185
@nerik amazing PR, thank you for your support, it's greatly appreciated :) Would you care to share how you use this lib?
Thanks.

[2016-07-31 09:06] nerik commented on #185
I'm working on a package for the Atom editor to interact with the Carto API (Carto is a set of APIs and tools for mapping and geographical analysis).
One of the features is geocoding inside Atom, which requires turning locations strings (ie Dublin, Ireland) into SQL requests, choosing the right SQL function for each entity type (country, city, address, IP, postal code, etc). This is done via [cart

[2016-08-05 13:29] AlessandroCorradini opened #187 "Measurement units for every countries with symbols"
Could you add the measurement units for each country? Example length, weight, temperature and others with the symbols of the respective units.

[2016-08-05 13:30] herrjemand commented on #187
@AlessandroCorradini You mean metric/nonmetric?

[2016-08-05 13:32] herrjemand commented on #187
@AlessandroCorradini I mean it is veeeeeery simple fix, by just adding "metric": true, and fixing it for three countries to false

[2016-08-05 13:36] herrjemand commented on #187
@AlessandroCorradini but personally I am not sure if that would be useful. What do you think @mledoze?

[2016-08-05 13:40] jjlharrison commented on #187
@herrjemand: It's a bit more complicated than a boolean. The UK for example uses a mix of imperial and metric for different purposes.

[2016-08-05 13:41] AlessandroCorradini commented on #187
No, I mean like this:
// for ITA (I'm Italian)
"measurement_units":  [
       "lenght": ["mm", "cm", "m"] // from small to big, but I could be useful just "m"
       "weight": ["mg", "gr", "kg"], // but I could be useful just "kg"
       "temperature": "C"
....... and others
]

If a user choose a country, you can get the default measurement units and set them into the app and apply the appropriate

[2016-08-05 13:49] herrjemand commented on #187
@AlessandroCorradini
IMHO I don't like this this implementation. It is large, complicated, detailed, and very hard to implement and maintain.

@jjlharrison
I know a lot of countries have their own systems as well, like Japanese Shakkanho
Might be

`"units": ["metric", "imperial"]`

That will give basic understanding on what the state of the things.

## Personally
I have can see potential use of su

[2016-08-05 13:52] jjlharrison commented on #187
I personally would find this information very useful. Some projects I work on need to know whether to use miles or kilometres for distances depending on the target market.

This is a common problem when localising software.

[2016-08-05 13:53] AlessandroCorradini commented on #187
Yes, it's too complicated :D
For simplicity you could add just one unit for each properties, like:

"length": "m",
"weight":  "kg",
"temperature": "C"

it's more simple and equally useful :)

[2016-08-05 13:55] herrjemand commented on #187
@AlessandroCorradini That is still complicated
[code]

Its complicated, detailed and underrepresented.

Quoting @jjlharrison

So that's mean this approach does no represents the real picture.

Additionally it is detailed.

[2016-08-10 19:28] cmacdonald commented on #6
What about the past? In using countries.json to analyse past pieces of text, I found "soviet" was not identified. Would adding a historical extension of the data with applicable dates be achievable in the long term?

[2016-08-10 19:29] cmacdonald opened #188 "argentine or argentinian"
It seems the denonym for Argentina is debatable:
http://english.stackexchange.com/questions/45309/argentine-or-argentinian

Could we revise to support both?

Craig

[2016-08-10 19:53] herrjemand commented on #6
@cmacdonald Countries project goal is to provide basic information about current de-jure political state of the world. We provide basic, static information.

History will never be part of this project as it is contradicts the goal of this project to provide basic and static information, and due to single case use limitation.

[2016-08-31 16:07] mledoze commented on #6
Hello @cmacdonald, I'm sorry but historical data are out of scope for this project.

[2016-08-31 16:11] mledoze commented on #188
I propose to use `Argentine`, it seems more used and accurate than `Argentinian` or `Argentinean` (the one we currently use).

[2016-08-31 16:13] #188 closed

[2016-09-01 09:17] mledoze commented on #174
I prefer to keep the current encoding especially because this file is used for editing and contributing. The `countries.json` file contains many right-to-left strings and not all text editors handle these correctly.

[2016-09-01 09:37] 8alery commented on #6
Hello! I think adding emoji for country flag will be nice. You can find emoji of flags here: http://emojiflags.com/

[2016-09-02 08:53] mledoze commented on #176
Hello @guoyunhe, I've added a `composer.lock` file. Could you please tell me if you still have the runtime error?

[2016-09-02 08:58] #174 closed

[2016-11-01 09:50] justqyx commented on #40
Hi all, thanks for the job all of you've been done. I'd like to ask there is a considerable progress about this issue?

[2016-11-03 09:37] mledoze commented on #40
@justqyx hello, unfortunately I think this PR is dead, would you like to work on it?

[2016-12-23 10:28] israelroldan commented on #165
I would like to contribute with Spanish and Dutch.

Before applying the patch, does the following schema looks ok to you?
[code]

[2016-12-29 14:08] mledoze commented on #165
@israelroldan OK for me.

[2017-01-05 08:51] #176 closed

[2017-01-05 11:23] davividal commented on #165
Shouldn't you use ISO codes?

[2017-01-05 11:49] herrjemand commented on #165
@davividal they are ISO 639-2/3 alpha3 language codes

[2017-01-06 18:38] tanc opened #199 "Add TopoJSON files"
Firstly, thanks for this repository, very useful.

Would you consider adding TopoJSON files alongside the GeoJSON files in the data directory? TopoJSON are smaller and more efficient.

[2017-01-06 18:55] mledoze commented on #199
Hello @tanc

you're welcome :)

Yes, that's a great idea! The current GeoJSON data comes from http://www.naturalearthdata.com/, will you be able to create TopoJSON files from this data?

[2017-01-06 18:59] tanc commented on #199
Sure! Happy to give it a try. Should I fork and add them as a pull request?

[2017-01-06 19:00] mledoze commented on #199
Yes please.

[2017-01-10 14:46] tanc commented on #199
I've converted all the GeoJSON data files into TopoJSON and tested a few, some simple and some very big and complex (Canada) and they are rendering really nicely in Leaflet and much faster.

Pull request has been submitted: #200

[2017-01-11 15:14] paulvollmer opened #201 "Add travis-ci for json lint"
this can be easy setup by a node.js jsonlint configration like the following

[code]

_(no warranty for the snippet)_

vote for it, and we can setup linters for the other languages (xml, yaml, php etc.)

[2017-01-13 15:50] mledoze commented on #199
#200 has been merged. Thank you @tanc.

[2017-01-13 15:50] #199 closed

[2017-01-13 15:51] mledoze commented on #201
@paulvollmer good idea! Would you be able to provide a correct configuration snippet please?

[2017-01-13 15:54] mledoze commented on #187
@AlessandroCorradini I'm sorry but I don't think that measurement units are a good fit for this project. Its purpose is to provide a simple and generic dataset about countries, not to include every country data possible. Thank you for your proposition though.

I'm sorry for the late answer.

[2017-01-13 15:54] #187 closed

[2017-01-13 15:56] mledoze commented on #40
I'll close this issue for the moment. If someone want to work on it, feel free to open a new issue.

[2017-01-13 15:56] #40 closed

[2017-01-13 15:58] mledoze commented on #108
That's still a good and relevant idea, but I haven't had the time to work on it. I'll close this issue for the moment, but keep the idea in the To-do section in the Readme.

Thank you guys for the suggestion.

[2017-01-13 16:01] #108 closed

[2017-01-30 10:59] paulvollmer opened #205 "Adjust the size of the svg flags"
I have seen the size of the svg flags are not all the same.
i think it is important to set all flags to the same width and height.

[2017-02-16 16:36] tanc opened #206 "Add geographic centre"
Some countries have territories a long way away from their main landmass so when trying to find the centre of the country using a bounding box in leaflet (for example), the centre is way off where you'd expect to find it. This makes it hard to place labels (country name etc) where the user is expecting to see them.

There seems to be a fairly comprehensive list of geographic centres provided by ht

[2017-02-17 08:13] LucianU commented on #172
I would also like this feature. I have an application where, besides the country name, currency and ISO code, I'm also using the locale code for internalization. Having all these in one place, would make things easier.

[2017-02-17 22:51] tanc commented on #206
I feel like a fool! The geographic centres are already there!

[2017-02-17 22:51] #206 closed

[2017-02-20 13:18] mledoze commented on #201
Merged via a1f37a3e6d79ff8cdfcdea6442ab05b87c8cdec7, thank you for your help @paulvollmer

[2017-02-20 13:18] #201 closed

[2017-02-20 14:12] mledoze commented on #206
@tanc no problem :)

[2017-03-08 22:28] rd-- opened #208 "unidirectional borders?"
Hello

Thanks very kindly for the excellent data set.

I've noticed that there are some borders that are indicated only in one direction?

ie. CYP has GBR as a border, but GBR doesn't have CYP.

The set of these "uni-directional" borders is:

(CYP,GBR) (IND,AFG) (NPL,CHN) (PSE,ISR) (PSE,EGY) (PSE,JOR) (SDN,TCD) (TCD,SSD)

There are no borders at (IND,AFG) or (TCD,SSD), these should be deleted?

Th

[2017-03-30 18:04] drbyte opened #209 "Include address_format from hexorx data?"
Given that you're already pulling region/subregion data from the @hexorx countries package, would you be willing to also include the address formats in that same dataset?
I think it's fairly static data.

I'm happy to help with contributing if you're willing to include it.

[2017-04-04 10:20] tflori opened #210 "Bonaire, Sint Eustatius and Saba missing"
a country is missing... https://en.wikipedia.org/wiki/ISO_3166-1 BQ: Bonaire, Sint Eustatius and Saba

[2017-04-04 10:21] herrjemand commented on #210
@tflori Please refer to: https://en.wikipedia.org/wiki/Dissolution_of_the_Netherlands_Antilles

[2017-04-04 10:22] herrjemand commented on #210
Also refer to #150

[2017-04-04 10:30] tflori commented on #210
hmm thanks for the info.

So what to do when I want them in my list? Do I have to call extra feeds?

[2017-04-04 10:38] herrjemand commented on #210
Jup. Bonaire not an independent state under the crown of the 'Kingdom of the Netherlands', like Aruba, Curacao and Sint-Maarten, but a city in a country of Netherlands.

Useful video: https://www.youtube.com/watch?v=eE_IUPInEuc

[2017-04-04 11:04] tflori commented on #210
thx @herrjemand

[2017-04-04 11:04] #210 closed

[2017-04-04 11:05] herrjemand commented on #210
@tflori Happy to help*)

[2017-04-09 13:13] Hendekagon opened #211 "Chad borders South Sudan ?"
Looks like South Sudan is among Chad's bordering countries

[2017-04-11 07:32] mledoze commented on #211
@Hendekagon you're right. Thank you for that.

Would you like to submit a pull request to fix this?

[2017-04-28 14:35] Bartinger commented on #6
If someone is searching for a country list with info if the country is in the EU: Here's a short script to append the info to the country list.

https://gist.github.com/Bartinger/f0507c786bad45cc942de471b1427e48

[2017-05-08 23:59] balbarak opened #220 "Add arabic translations for countries"

[2017-05-10 21:31] nbransby opened #221 "Case insensitive find"
the find* functions are case sensitive which kind of limits their usefulness when matching against user input

[2017-05-10 22:06] #221 closed

[2017-05-16 14:14] mledoze commented on #6
@Bartinger thank you for that! :)

[2017-05-31 17:44] pfwd commented on #6
Hi Thanks for a great project.
Are there any plans to add ISO 639-1 codes?  I'm looking for a way to adjust HTML language codes.
If the language section included the ISO 639-1 then it would be perfect for my use case.
I see that https://restcountries.eu has this support and its listed in the showcase.

[2017-06-01 06:51] fayder commented on #6
Hi @pfwd I started restcountries.eu based on @mledoze's great data some years ago but then I started to maintain my own version. That's why they are not much similar anymore.

[2017-06-06 14:42] ankit071010 opened #222 "India Map is not correct"
Could you please update the coordinates of India as some part of the map is missing.

[2017-06-09 07:51] mledoze commented on #222
@ankit071010 thank your for this issue, i'll fix this soon.

[2017-06-17 23:26] wzup opened #223 "What do six names mean in a `name` column?"
How to understand and use it?

[code]

I create a table with that `.csv`. And I end up having more than one country name in a column `name`. How do I SELECT one country name?

Example:

[code]
![sqlyog ultimate - 2017-06-18 07 23 36](https://user-images.githubusercontent.com/3880497/27256920-3385fb26-53f7-11e7-9713-d894d03a7221.png)

How do I get one English name of a country to create a `<select>

[2017-06-22 07:27] mledoze commented on #223
@wzup I understand the problem, it's because the `name` property is a multidimensional array, and CSV does not support this type of structure, so I decided to flatten the array, but it's not very useful. I think I'll have to create multiple columns, `name.common`, `name.official`, and so on. What do you think?

For your information, the other formats do not have this problem.

[2017-07-20 02:36] Fevix commented on #201
Sorry for necro, but is there a way I can use this to lint all files except those on a blacklist? (In my case, lint everything that's not .png or .lua)

[2017-07-24 07:44] mledoze commented on #201
@Fevix what do you mean by "lint all files"? If you look here https://github.com/mledoze/countries/blob/master/ci/test.sh, you'll see that we only lint JSON files, so .png and .lua files are excluded.

[2017-07-24 15:24] Fevix commented on #201
I make a mod for Starbound which uses mostly json but the files aren't
named .json, they're named stuff like .item and .object. They are purely
json though

I've found a solution already though, thanks to Reddit.

On Jul 24, 2017 3:44 AM, "Mohammed Le Doze" <notifications@github.com>
wrote:

[2017-08-04 17:29] skornev opened #227 "Wrong Russian translation for Mexico"
"Мексиканских Соединенных Штатов" should be "Мексиканские Соединённые Штаты"
https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%BA%D1%81%D0%B8%D0%BA%D0%B0

[2017-08-04 20:11] herrjemand commented on #227
@skornev Approve. Thanks for mentioning*)

[2017-08-07 20:31] #211 closed

[2017-08-07 20:33] mledoze commented on #227
Thank you for raising this issue. Could you please send a pull request with the fix?

[2017-08-22 08:17] emilv opened #228 "Better convert options"
Some suggestions for the CLI convert command:

* Possibility to choose fields to *include* instead of *exclude*
* Output to any file you want or stdout, in just one of the formats
* Make countries.php executable and register it as a binary in composer.json so we get a symlink in ./vendor/bin/

We pre-generate smaller JSON files with only the attributes we need, so they are faster to parse. We know

[2017-09-14 19:57] Jun711 opened #232 "Should the countries json files be added to www asset file automatically for a cordova project?"
What i did was I clone this ionic cordova boiler-plate [repo](https://github.com/marcoturi/ionic-boilerplate), then I installed this plugin. When, I run that application, the countries json files were not added to the www/assets folder. I have used this plugin before, IIRC, the countries json files were added automatically. Please let me know what I could possibly done incorrectly.

Thanks!

[2017-09-15 18:10] Jun711 commented on #232
Found out that I have to have to copy it manually

[2017-09-15 18:10] #232 closed

[2017-10-01 02:00] jurchiks commented on #181
I'm actually trying to find a list of countries with their most commonly spoken language myself, but I can't find anything like that. Looks like I will have to go through all 250+ countries manually and look it all up.
If the national language array would contain the languages in order of popularity, I could have used your dataset, but since it apparently doesn't...

[2017-10-05 08:17] #227 closed

[2017-10-08 15:27] mledoze commented on #208
Hello @rd--, thank you for raising this issue. I'll take your fixes and merge them into the project.

[2017-10-09 07:40] #208 closed

[2017-10-09 07:42] mledoze commented on #209
I'm okay with that. Could you propose a format in JSON?

[2017-10-09 15:23] drbyte commented on #209
The data from hexorx has `address_format` as a (optional) single entry per country record.

I would think that if we simple brought it in as a string value it would be fine. ie: keep the current `Liquid` markup, as it can be easily parsed when used in production.

So the result would be akin to:

[code]

I may be missing something, but how are you reading data in from other sources? Or was it just

[2017-10-10 19:15] mledoze commented on #209
I like the liquid markup but I'm not fond of `\n` characters in the middle of the string. We need to think about a better solution...

You're not missing anything :) there are no import scripts because the main `countries.json` was crafted with my own little hands (and those of the contributors, of course!), but since it's static data, there was no need to develop import scripts.

[2017-10-10 19:19] drbyte commented on #209
Haha! A labour of love ;)

[2017-10-10 19:20] drbyte commented on #209
I wouldn't be bothered if we used `{{cr}}` instead of `\n` and people can substitute that with their preferred "carriage-return" markup.  Or is "carriage-return" too 80's sounding?

[2017-10-15 16:03] benpptung commented on #4
Hi, while checking the list for my project, I still see some inappropriates on the followings

https://github.com/mledoze/countries/blob/master/countries.json#L11177
`\u4e2d\u534e\u6c11\u56fd` should be corrected as `\u4e2d\u83ef\u6c11\u570b`

https://github.com/mledoze/countries/blob/master/countries.json#L11190
`Taiwan, Province of China` should be corrected as `Taiwan` or removed if it is dupli

[2017-10-15 20:50] herrjemand commented on #4
Good job @benpptung!

[2017-10-15 20:50] herrjemand commented on #4
Could make a pull btw?

[2017-10-16 07:43] mledoze commented on #4
Thank you @benpptung for your comment! I'd love a pull requests with these changes :)

[2017-10-16 12:40] mledoze commented on #4
@benpptung PR #235 has been merged. Thank you for your help!

[2017-10-16 13:46] #228 closed

[2017-10-23 17:08] darkcamper opened #236 "Mislabeled translations"
Hi! I've just noticed that spanish (spa) translations for "São Tomé e Príncipe" (ST) and "Maldives" (MV) are labeled as if they were instead written in slovak (slk). It doesn't seem to happen for any other country.

Thanks a lot for this project! I've found it really useful.

[2017-10-26 15:33] ocalypse opened #237 "Cocos Islands should be added for Cocos (Keeling) Islands"
https://en.wikipedia.org/wiki/Cocos_(Keeling)_Islands

While there is indeed an unrelated "Cocos Island" (https://en.wikipedia.org/wiki/Cocos_Island), the plural "Cocos Islands" is an alternative name for Cocos (Keeling) Island.

I would suggest adding it to the "altSpelling" column.

As should maybe "Keeling Islands". Those were the names before they made the dual name official.

[2017-11-08 13:36] #236 closed

[2017-11-08 23:47] chiemekailo opened #241 "Great compilation, but needs Localé"
Hi.
This is a great collection. However, I was appalled to find that it does not have localé (e.g. en-GB).

[2017-11-09 09:24] mledoze opened #242 "Incorrect language for Armenia"
https://en.wikipedia.org/wiki/Languages_of_Armenia
Russian should not be in the list.

Taken from: https://github.com/fayder/restcountries/issues/72

[2017-11-12 08:46] EleRam opened #243 "Provinces, Cities & Districts"
Is it possible to add provinces, cities & districts to each country?
it would be very useful.

[2017-11-16 05:31] herrjemand commented on #241
Hey @chiemekailo. We don't IETF language codes, but instead alpha-3 ISO codes for language tags.

[2017-11-21 09:56] WaldoJeffers commented on #165
Hello, any updates on this?

[2017-11-21 13:36] mledoze commented on #165
ping @jeffrico :)

[2017-11-25 16:11] #181 closed

[2017-11-25 17:15] mledoze commented on #237
@ocalypse thank you for this, I did this fix and it's merged.

[2017-11-25 17:17] #237 closed

[2017-11-26 21:32] mledoze commented on #242
Fixed by 8f0c85d749d69c60ef84a6bba28dc7bf70dd778c

[2017-11-26 21:32] #242 closed

[2017-11-26 21:36] mledoze commented on #243
Hello @EleRam, thank you for your proposition; this idea was already proposed here https://github.com/mledoze/countries/issues/40 but the work did not succeed, so the issue was closed. If you would like to continue this work, I'll be happy to assist you.

[2017-11-26 21:37] mledoze commented on #182
Fixed by #244

[2017-11-26 21:37] #182 closed

[2017-11-27 06:15] mledoze commented on #241
Hello @chiemekailo, thank you for your proposition but IETF language codes are not included in this dataset because codes likes `en-GB` which consist of a language code and a regional code, create too many combinations.

[2017-11-27 06:15] #241 closed

[2017-11-27 07:02] mledoze opened #248 "Add "The Netherlands" as alternate spelling of Netherlands"
From https://github.com/youthure/countries/commit/0d8b617bdfee0cbdb50ed5c36531fe560e105a2f

[2017-11-27 07:04] mledoze commented on #222
@ankit071010 could you tell me which parts are missing?

[2017-11-27 14:01] #248 closed

[2017-12-05 20:59] marc-ed-raffalli commented on #6
Hi @mledoze, how accurate should be the country name translations? Should it be 100% or it would be ok from an online translator.

[2017-12-06 09:15] mledoze commented on #6
Hello @marc-ed-raffalli, I am sorry but I don't understand your question. The translations currently available in this project were gathered from various sources (mainly from Wikipedia). I hope that they are correct but I cannot guarantee that they are 100% correct.

[2017-12-06 09:50] marc-ed-raffalli commented on #6
Hello @mledoze, I wanted to know if the translation has to be exact or is it ok to have translation from online translator like Google Translate (which may produce inaccurate output). Then, if it is ok, what would be the list of targeted languages?

[2017-12-06 09:53] mledoze commented on #6
Well in that case, the translations have to be exact :)

There is no list of targeted languages, any language can be added to the list of translations.

[2017-12-06 10:02] marc-ed-raffalli commented on #6
Good to know, I'll look for better translation sources :)

[2017-12-07 03:51] msathis commented on #222
@mledoze In india it's illegal to show incorrect map excluding Jammu and Kashmir or any part of disputed territories. Can you please add one more version of geojson including disputed territories?

[2017-12-23 10:12] ottsch commented on #165
Any ideas how to handle irregular plural, female/male variants (as in German)?

Also, there are different possible demonyms sometimes like here:

- Antiguayen, Antiguayenne;
- Antiguais, Antiguaise;
- Antiguais-et-Barbudien, Antiguaise-et-Barbudienne

([source](http://66.46.185.79/bdl/gabarit_bdl.asp?Th=2&t1=&id=1941))

[2018-01-06 13:44] blumk opened #252 "Suggestion: include 'independent' flag"
Not every country listed is an independent nation, e.g. 'Åland Islands' ([ISO 3166-2:AX](https://en.wikipedia.org/wiki/ISO_3166-2:AX)).

[ISO 3166-1 alpha-2](https://www.iso.org/obp/ui/#iso:pub:PUB500001:en) contains a flag 'independent':
[code]

Suggested change:
Updating countries.json with an independent flag for each country.

Example:
`"independent": true`

Data source: e.g. [Wikipedia ISO-31

[2018-01-06 17:03] blumk opened #253 "Bug: XK (Kosovo) is not an officially assigned code element"
According to [ISO 3166-1 alpha-2](https://www.iso.org/obp/ui/#iso:pub:PUB500001:en) XK is a 'User-assigned code element'. Kosovo does not have a ISO country code (without being political).

I recommend either removing the entry (thus sticking with ISO 3166-1) or extending the data set to include non compliant entries.

[Explanation](https://www.quora.com/Why-doesnt-Kosovo-have-its-own-ISO-country-

[2018-01-06 17:35] blumk opened #254 "Bug: Missing ISO 3166-2:BQ (Bonaire, Sint Eustatius and Saba)"
[ISO 3166-2:BQ](https://en.wikipedia.org/wiki/ISO_3166-2:BQ) is missing from the list.

I'm aware that these three islands are not independent countries, nevertheless they are treated as a dependent country according to ISO-3166-1.

I've created an issue #252 (include 'independent' flag) that would help filtering the data set.

I recommend keeping this data set compliant with ISO-3166-1.

[2018-01-06 17:39] blumk opened #255 "Bug: Missing ISO 3166-2:SH (Saint Helena, Ascension and Tristan da Cunha)"
[ISO 3166-2:SH](https://en.wikipedia.org/wiki/ISO_3166-2:SH) is missing from the list.

I'm aware that these islands are not independent countries, nevertheless they are treated as a dependent country according to ISO-3166-1.

I've created an issue #252 (include 'independent' flag) that would help filtering the data set.

I recommend keeping this data set compliant with ISO-3166-1.

[2018-01-07 10:02] blumk opened #258 "Suggestion: region "Antarctic""
The Antarctic region does contain the following dependent countries (ISO 3166):

- AQ (Antarctica)
- BV (Bouvet Island)
- GS (South Georgia and the South Sandwich Islands) [:point_right: currently 'Americas']
- HM (Heard Island and McDonald Islands)
- TF (French Southern Territories (the))

**Proposal:**
Updating the region tag of the five records:
`"region": "Antarctic"`

Further reading:
[Wikipe

[2018-01-08 10:19] #258 closed

[2018-01-13 09:39] blumk commented on #205
@paulvollmer The images are vector based and can be scaled independently. The size defined within the svg does not really matter.

Furthermore, not all flags have the same aspect ratio.

I recommend closing this issue unless there's an actual bug.

[2018-01-15 09:13] #205 closed

[2018-01-18 08:58] miniplus opened #263 "bump version"
Last version (1.8.1) dates back from Oct 24, 2016. There's been a few commits since so perhaps it's time to bump the version?

[2018-01-18 14:28] mledoze commented on #263
@miniplus you're right, it's time for the version 1.9. I'm on it.

[2018-01-20 15:25] #252 closed

[2018-01-21 21:49] #243 closed

[2018-01-21 21:49] #220 closed

[2018-01-21 21:51] #132 closed

[2018-01-21 21:54] mledoze commented on #253
@blumk should we close this PR now since the independence flag has been merged?

[2018-01-21 21:56] mledoze commented on #254
@blumk the data for these three islands is not messing from this dataset.

Please refer to this comment for more info: https://github.com/mledoze/countries/issues/150#issuecomment-136358570

[2018-01-21 21:56] blumk commented on #253
@mledoze I'd still like to add a status flag `officially assigned` to every record, except Kosovo (`user-assigned`). That would allow for proper filtering of the dataset. Will provide a PR this week.

[2018-01-21 21:58] mledoze commented on #255
@blumk the data is not missing, it's just in a different place :)

Please see this issue for more info: https://github.com/mledoze/countries/issues/93

[2018-01-21 22:09] blumk commented on #254
@mledoze ISO 3166 assigns a country code to these islands with `independent=no`, [see 3166:BQ](https://www.iso.org/obp/ui/#iso:code:3166:BQ).

There are 194 independent countries listed in the standard and 55 dependent countries. I agree it seems odd to add this record, however not adding this record would start the discussion which of the 55 dependent countries should be included in the list (rig

[2018-01-21 22:25] blumk commented on #255
@mledoze see my comment on #254. I believe aligning the dataset with ISO 3166 is the better solution.

Quoting [ISO](https://www.iso.org/home.html):

I personally might not agree with every entry in the ISO standard, I do however believe in a standard that everyone agrees to (and then override the standard at my own risk in my application when needed).

[3166:SH](https://www.iso.org/obp/ui/#iso:co

[2018-01-21 22:27] mledoze commented on #263
The new release v1.9.0 is almost ready. I'm waiting for a few PRs to be included in the release.

[2018-01-21 22:45] blumk commented on #263
@mledoze I'd release it as v2.0.0 since it contains breaking changes (e.g. PR #266 "multiple capitals")
[SemVer](https://semver.org/):

MINOR version when you add functionality in a backwards-compatible manner, and
PATCH version when you make backwards-compatible bug fixes.

[2018-01-22 13:21] blumk commented on #255
I took a closer look at this issue:

The parent record [3166:SH](https://www.iso.org/obp/ui/#iso:code:3166:SH) should be included in the `contries.json` as it is a `British Overseas Territory` (like other territories).

The record contains three islands (parts) and each of them should have a `divisions` record in the `data` folder. Since almost every country has subdivisions (states, departements,

[2018-01-23 21:18] mledoze commented on #263
@blumk yes you're right but I want also want to drop the support for PHP 5 in the upcoming release v2.0.0, so that's why I want to release it as v1.9.0 first.

[2018-01-23 21:21] mledoze commented on #255
@blumk I am not so sure about what you are proposing?

[2018-01-23 21:27] blumk commented on #255
@mledoze I'd like to add `ISO 3166-2:SH (Saint Helena, Ascension and Tristan da Cunha)` to `countries.json`.

ISO 3166 lists 249 countries - the `countries.json` is just missing two records.

We can keep the division json files in `data` in case anyone is interested in a specific part of a country (or for legacy reasons).

[2018-01-23 21:32] #253 closed

[2018-01-23 21:39] mledoze commented on #255
Now that we have the `independent` flag, it makes sense to move the files `data/bes.divisions.json` and `data/shn.divisions.json` back into the main `countries.json` file. We'll also remove the *.divisions.json files because they are not useful anymore.

We'll fix the issue #254 in the same time.

Do you think you could do that?

[2018-01-23 21:43] blumk commented on #255
Yes, I was waiting for the major PRs to be completed first. It might take me a week to submit a PR for both issues.

[2018-01-23 21:55] mledoze commented on #255
Ok. Do you prefer me to fix these issues?

I'll merge the PR regarding the arabic translations this week.

[2018-01-23 22:04] blumk commented on #255
@mledoze You decide. I'm quite busy at work but willing to fix them if you need help. As soon as the arabic translations are in master it would be a good time for a merge.

I think the records have to be updated with the latest changes in countries.json (emoji support, languages and so on).

[2018-01-23 22:11] mledoze commented on #255
Same here :)

I propose you fix these issues while I handle the merge of one of the two pull requests for arabic translations (there are still some problems with them).

Of course, you work will not be lost!

By the way, thank you very much for your help on this project, it's much appreciated.

[2018-01-23 22:16] blumk commented on #255
@mledoze Thanks for maintaining this project! I'll provide a fix for the two issues.

[2018-01-24 10:55] marc-ed-raffalli commented on #6
Hi @mledoze
I found translations for a good number country names and capitals e.g. London => Londres.
In https://github.com/mledoze/countries/issues/263#issuecomment-359933770 you said planning for 2.0. I would propose to change capital to a multi dimensional array too.
[code]

[2018-01-28 13:13] mledoze commented on #263
@blumk I gave it a second thought and I will finally release it as v2.0.0 because I also want to gradually drop the support for PHP 5. So here is the roadmap for the next 2 major releases:

- v2.0.0 will include all the changes from the master branch and will require the latest version of PHP 5 which currently is 5.6.33.
- v3.0.0 will require the latest version of PHP 7, which is 7.2. I also plan

[2018-01-28 14:48] mledoze commented on #6
@marc-ed-raffalli this change was already made by @blumk in https://github.com/mledoze/countries/commit/d9e81cc083322b492c18b17faad54d5a3e4a7ff6. But translations for countries capital(s) are welcome :)

[2018-01-28 15:58] marc-ed-raffalli commented on #6
@mledoze The change allows to support multiple capitals as an array of strings, does not allow a mapping to multiple languages. I would propose something like:
[code]

[2018-01-29 22:01] blumk commented on #6
Looking at the current `countries.json` implementation I'd suggest refactoring translations into separate *.json files, e.g. `fra.json`:
[code]
Creating separate language files brings the following benefits:
- Current implementation has a "translations" property. Adding capitals would lead to the following confusion: translation of what? (Name, capital?). Dedicated files solves this problem (see e

[2018-01-30 10:19] marc-ed-raffalli commented on #6
@blumk

Do you mean 3 files? one pure data (language agnostic), and two translation files

[2018-01-30 10:25] blumk commented on #6
@marc-ed-raffalli

Yes. Adding support for for two additional languages (`countries.json` defaults to `English`) means that you'll have to load `countries.json` and e.g. `fra.json` and `slk.json` in order to support `ENG`, `FRA`, `SLK`.

[2018-01-30 13:56] marc-ed-raffalli commented on #6
@blumk
I like the idea of separate language files. I would even push the idea and have all languages into dedicated files (including `ENG`) since not all apps necessarily support English :)

Let's see what's the feedback from the other contributors

[2018-01-30 22:01] mledoze commented on #6
I find this idea interesting, but what would be your proposal for the directories/files structure? Given your example, would the `fra.json` file be in a `data/zaf` folder?

[2018-01-30 22:15] blumk commented on #6
@mledoze

I guess there are two options:
- one translation file per language containing all 250 records: you can use a folder  like `data` | `translations` | `i18n` containing all translation files
- one translation file per language and record: in that case subfolders like `data/zaf` might be the way to go. However you end up having n*250 files

I might prefer one file per language containing all

[2018-02-03 15:09] #254 closed

[2018-02-03 15:09] #255 closed

[2018-02-07 11:35] Ramblurr commented on #148
@mledoze  Any plans to add this feature?

@herrjemand I don't see a script in your repo that does this, or am I missing it?

[2018-02-09 20:39] mledoze commented on #148
@Ramblurr this feature is not planned yet but I'll add it to my to-do list.

[2018-02-26 19:54] enigma127 opened #278 "Independent State of Samoa (ISO 3166-2:WS) missing"
The Independent State of Samoa is missing in countries.json (UN Member State). See the website of the United Nations or https://en.wikipedia.org/wiki/Member_states_of_the_United_Nations.

Note: American Samoa is not the same as Samoa. The latter is an independent state, the former not.

[2018-02-27 08:39] blumk commented on #278
I can confirm that ISO 3166-2:WS is missing.

Looks like the countries.json contains one country that should not be in the list since it already contains 249 countries (see [ISO_3166-1 Current_codes](https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes)).

[2018-02-28 12:07] enigma127 opened #280 "Subregion "Northern America""
In countries.json the subregion "Northern America" is used for a couple of countries, including Mexico. Correct would be for this use case "North America".

Source:
https://en.wikipedia.org/wiki/Northern_America
https://en.wikipedia.org/wiki/North_America

[2018-03-10 14:16] blumk commented on #278
@mledoze I think you can close this issue.

@enigma127 Feel free to reopen it, if you think the data set is incorrect.

[2018-04-08 10:31] courtney-miles opened #283 "Differences in names from ISO-3166"
Is the name of each county listed in `countries.json:[*].name.common` expected to the same as the **English Short Name** reported for the ISO 3166 standard at https://www.iso.org/obp/ui/

If it is, I'm happy to submit a PR to consolidate.

I won't type them all out, but the following are a few differences.

ISO 3166 English Short Name | `countries.json:[*].name.common`
---|---
French Southern Terr

[2018-05-04 14:48] cglacet opened #285 "Looks like England/Scotland/Northern Ireland/Wales are missing"
Is there a reason for these countries to be missing? It looks important to me to have them, I feel like everyone knows them well (except maybe for Wales) and would therefore expect them to "exist" and be part of any application that displays countries.

If you ask to a random person "in which country is Belfast located?" I'm pretty sure that a vast majority would answer Northern Ireland (or Irelan

[2018-05-04 14:59] jjlharrison commented on #285
England, Scotland, and Wales are not sovereign states, Monaco is (and I say that even as an English person).

[2018-05-04 17:03] herrjemand commented on #285
Country as UN country. Please refer to official UN list
http://www.un.org/en/member-states/

[image: Ackermann Yuriy] <https://jeman.de/> *Ackermann Yuriy*
Developer
*e:* ackermann.yuriy@gmail.com
*g:* @herrjemand <https://github.com/herrjemand>
*w:* https://jeman.de/

2018-05-04 19:19 GMT+03:00 Christian glacet <notifications@github.com>:

[2018-05-04 17:30] curry684 commented on #285
Do you really intend to open the can of worms to judge whether a region is country enough in public opinion? Millions of people have died over such debates.

Stick to the internationally accepted definitions.

[2018-05-04 19:10] blumk commented on #285
@cglacet @jjlharrison The official standard is ISO_3166-1 ([ISO](https://www.iso.org/iso-3166-country-codes.html)). This data set is based on ISO-3166-1.

There are 249 official countries – 194 independent & 55 are dependent on other countries. See
see [Wikipedia](https://en.wikipedia.org/wiki/ISO_3166-1) for details.

[2018-05-05 12:09] cglacet commented on #285
I really doubt anyone ever died because of a _json_ file. My point is exactly at the opposite of the debate about whether or not they _are_ countries, my point is **what's the point of having less information**. Also the second argument is **usage > rules** (this is especially true for language and therefore for everything who targets the general public, which is probably your case). The data you

[2018-05-05 18:43] blumk commented on #285
@cglacet ISO stands for _International Organization for Standardization_ and their motto is

see [ISO](https://www.iso.org/home.html). The world decides in a democratic process what a country is and what not. In any democracy a single individual can and _should_ disagree with the majority, otherwise if no one disagrees you'll have a dictatorship.

This data set follows the ISO-3166-1 specification

[2018-05-07 18:35] GoGross commented on #285
They colonized the entire world, this collection itself is called Britain

[2018-05-07 21:31] curry684 commented on #285
Me too. It's not about the JSON file. It's about whether or not to consider adding disputed territories to a list of countries being used as *authoritative* in tons of online applications, thereby implicitly taking an actual position on that status because it's not backed by any commonly accepted standard.

You are suggesting adding Northern Ireland explicitly. The "territorial dispute" about the

[2018-06-12 10:37] #278 closed

[2018-06-12 10:54] #280 closed

[2018-06-12 10:55] mledoze commented on #280
Thank you for this @enigma127, it's fixed now.

[2018-06-13 07:50] mledoze commented on #283
Hello @courtney-miles, the name listed in the `countries.json:[*].name.common` properties is not expected to be the same as in the ISO 3166 standard because I prefer "South Korea" instead of "Korea (Republic of)".

Thank you for your issue though.

[2018-06-13 07:50] #283 closed

[2018-06-13 21:51] courtney-miles commented on #283
I understand.

My motivation for this was to head off complaints from clients who feel we have not chosen the right country name (because it happens.)  By adopting the ISO standard it removes "personal preference" from the argument.

But at the time I think had become too focused on standards and I can appreciate the current `common` name is more sensible for end users, and should be able to make

[2018-06-15 11:05] ColinH commented on #6
My suggestion on "what to add next" would be NDD and IDD prefixes.

[2018-06-20 11:42] jcadiba opened #288 "Great Project I will be usefull to add the nationality of each country"

[2018-07-02 19:03] ndawg opened #289 "Swaziland is now Eswatini"
The UN has officially recognized Swaziland's change to the name of Eswatini. How will this change be handled?

[2018-07-03 10:31] fjelsted opened #290 "Currency and fund codes"
Currency and fund codes are bundled together making the currency information less useful regarding certain countries, e.g. Switzerland, USA and Chile.

May I suggest getting rid of fund codes? They have limited use outside of accounting. Either get rid of them or separate them out to a different field.

On the [XML list](https://www.currency-iso.org/en/home/tables/table-a1.html) funds are attribut

[2018-07-04 23:46] blumk commented on #289
As soon as ISO updates the ISO 3166 standard, we'll update the entry.

See https://www.iso.org/obp/ui/#iso:code:3166:SZ

I recommend closing this issue and reopening a ticket again when the standard changes.

[2018-07-09 17:34] #289 closed

[2018-07-10 08:37] atefBB commented on #220
@balbarak @mledoze Is that a `call to action` for `arabic` translation of countries?

[2018-07-10 08:57] atefBB opened #291 "Custom `filter` query in API endpoint"
According to docs : `name` value `may` contains `comman`, `official` ... `sub-items`.
The API docs lack `custom filtering` requests like `name:common` or `name:official` (for example).
Is this `feature` exists or not?!
If it exists, how the API endpoint would look like?!

[2018-07-16 19:07] jsgv commented on #285
Will you accept a pull request to add Scotland?

[2018-07-16 20:21] blumk commented on #285
@jsgv Scotland is _not_ an independent nor a dependent country. Please refer to the official standard  ISO_3166-1 (ISO). This data set is based on ISO-3166-1.

[2018-07-23 11:22] mledoze commented on #291
Hello @atefBB, I think you posted this issue on the wrong project, because there is no API here.

I think the right project is https://github.com/apilayer/restcountries

[2018-07-23 11:22] #291 closed

[2018-07-23 11:37] mledoze commented on #6
Thank your for your suggestion, I'll look into it.

[2018-07-23 11:37] mledoze commented on #6
@blumk I would like to move forward with your proposal to refactor translations to separate files; could you please open a new issue with your proposal? Thank you very much.

[2018-07-23 11:45] mledoze commented on #288
Hello @jcadiba, the dataset already contains the demonym for each countries; I know that it's not exactly the same thing that the nationality but I fear that adding nationalities would duplicate demonym data.

[2018-07-23 11:52] mledoze commented on #290
Hello @fjelsted what do you mean by "fund codes". As far as I know, there only currency codes in the dataset.

[2018-07-23 11:59] mledoze commented on #289
@ndawg Could you please send me a pull request with the required changes to rename Swaziland to Eswatini please?

[2018-07-23 12:04] zakjan commented on #288
@mledoze Can we somewhere see in the data, if the country is valid for nationalities? `independent`, maybe?

For example, country French Guiana, demonym Guianan, such nationality doesn't exist, there is only French. This is fine for code to label lookup, but wrong for presenting a list of available options in a select box.

In my projects, after many hours spent trying to answer this, in the end I

[2018-07-23 12:09] mledoze commented on #288
My "problem" with nationalities is that it's a difficult subject and for now, frankly, I don't know how to solve it elegantly. If you have some ideas, please let me know.

@jcadiba I would suggest to follow the advice from @zakjan, that is the use the country name instead of nationalities, it will work 9/10. What do you think?

[2018-07-23 12:42] fjelsted commented on #290
Hi @mledoze. :) If you take a look at USA for instance:
[code]
It has three currencies listed, which are all technically correct, but USS and USN are not currencies in the normal sense when we think "currencies". From my limited understanding of it, _funds_ are a group of currencies which serve as tools for the financial sector. For instance, MXV is a currency that is denoted in MXN (Mexican pesos

[2018-07-23 14:51] fjelsted commented on #290
I've never made a pull request before but the change seems pretty straight forward. I'll look into it. 👍

[2018-07-24 07:31] mledoze commented on #290
Fixed by #293.

[2018-07-24 07:31] #290 closed

[2018-07-28 13:00] xewl commented on #285
Not to pull this into exaggeration.
Maybe someone could pull in data for the whole ISO 3166-2? (:

[2018-07-29 21:39] curry684 commented on #285
@xewl that would be pretty much impossible without terrible BC breakage (not going to happen) or terrible data size inflation if adding it as nested properties of their respective countries. Quickly scanning through https://en.wikipedia.org/wiki/ISO_3166-2 I'd estimate the average country has about 25 districts/subregions, thus increasing the dataset's size at least tenfold to include them and a b

[2018-08-02 08:29] xewl commented on #285
@curry684 of course that was what I was referring to :)

[2018-08-02 10:48] curry684 commented on #285
Ah I was interpreting "pull in" as "add to this set" hehe.

[2018-08-05 21:04] xewl commented on #285
@écurry684 next to - in relation of - was more my goal there 👍

[2018-08-10 06:59] blacksmoke26 opened #295 "Urdu translation contribution"
Where do I signup?

**Before**
[code]

**After**

[code]

[2018-08-25 19:50] seifip opened #300 "SVG Kosovo flag is missing"
https://commons.wikimedia.org/wiki/File:Flag_of_Kosovo.svg

[2018-08-25 20:36] #300 closed

[2018-09-03 18:05] chema-mengibar opened #302 "Black Hole effect in some countries"
HI, thanks for this project.
I´m trying to load the country boundaries in Blender with Python.
I have one function to translate the lat and lon to xyz :

[code]

The proble is that in some sides the countris will be deformed.
Any idea?

![blender-006-gml-a-0000](https://user-images.githubusercontent.com/20370607/44998256-55027a80-afb4-11e8-837b-b75286b0b6c4.jpg)

![blender-006-gml-a-0002](https://

[2018-09-17 06:27] thawkins commented on #172
+1 for this feature, it would make a big difference for us.

Just an array of "locale" would be very  ie for switzerland
locales: {
   "de_CH",
    "fr_CH",
    "it_CH"
}

[2018-09-21 11:44] robindaumann opened #304 "German translations inaccurate"
I am using the JSON Version and found two inaccuracies in the German translations.

For South Africa, both the common and the official Names are "Republik Südafrika" where the common name should omit the "Republik" prefix as it is for the other countries.

For Moldova, the common translation is "Moldawie" but should be "Moldawien" like described here [wiki](https://de.wikipedia.org/wiki/Republik_M

[2018-09-21 11:58] robindaumann commented on #304
I reviewed the issue and noticed that the described issues only occur in the dist/countries.json. Not in the top level countries.json

[2018-09-21 12:14] robindaumann commented on #304
I ran the php script and the bugs do not occur in the dist folder anymore.

[2018-09-21 12:34] mledoze commented on #304
Fixed by #305.

[2018-09-21 12:34] #304 closed

[2018-09-21 12:36] mledoze commented on #295
Hello @blacksmoke26, translations for Urdu are welcome! Could you please send me a pull request?

[2018-09-30 19:49] blacksmoke26 commented on #295
Yeah sure. Thank You!

[2018-10-04 12:58] blacksmoke26 opened #307 "Feature: i18n currencies name"
Saperate JSON file `currencies-i18n.json` which will store currencies name in various languages.

For example:
[code]

Is it worthy?

[2018-10-05 11:32] marinsagovac opened #308 "Holy See - calling codes has two calling Codes [.va]"
Hey,

there are two calling codes (such as Vatican), but Vatican officially has one calling codes and newest like

A Vatican City has +379 but you have 3906698 as code.

Another part, Jamaica have 2 calling codes: https://en.wikipedia.org/wiki/Jamaica but on data files there are only one calling codes.

[2018-10-05 12:11] chiemekailo commented on #241
Thanks @mledoze and @herrjemand. I’m using it as-is okay.

[2018-10-06 12:31] #308 closed

[2018-10-11 09:55] fhuonder opened #309 "No "native" should be {} instead of []."
The native element looks like :
[code]

In case a country has no native it currently looks like:
[code]

But I think the "no native" should look like:
[code]
The native isn't a list but a map. And an empty map is `{}`.

[2018-10-25 12:07] mledoze commented on #309
Hello @fhuonder you're right, I'll fix this!

[2018-10-25 12:47] #309 closed

[2018-10-25 12:47] mledoze commented on #309
It is fixed on master. I will publish a new release soon.

[2018-10-25 13:35] mledoze commented on #223
Hello @wzup I currently working on fixing this here https://github.com/mledoze/countries/pull/275.

There is still some work to do because some countries have more or less translations than others.

[2018-10-30 06:49] fhuonder commented on #309
Do you already have a date when the new release is published?

[2018-11-05 10:13] adrienne commented on #40
Bookmarking this as a reminder to myself because i might be able to help.

[2018-11-08 09:35] mledoze commented on #241
You're welcome @chiemekailo :slightly_smiling_face:

[2018-11-08 09:35] mledoze commented on #309
@fhuonder I will publish a new release today.

[2018-11-08 09:42] mledoze commented on #40
@adrienne your help is welcome! :slightly_smiling_face:

[2018-11-09 22:13] mledoze commented on #309
@fhuonder here it is: https://github.com/mledoze/countries/releases/tag/v2.1.0
Sorry for the delay.

[2018-11-10 07:07] fhuonder commented on #309
Thanks a lot 😊.

[2018-11-16 11:53] felipeaugusto1 opened #314 "Wrong Kazakhstan calling code"
Current Kazakhstan calling code is `7`, but countries.json shows `76`.

[2018-12-02 14:54] mledoze commented on #314
Hello @felipeaugusto1 thank you for reporting this issue, I'll fix it.

[2018-12-02 15:14] #314 closed

[2018-12-02 15:16] mledoze commented on #295
For new translations, you'll need to provide both common and official names for all countries.

[2018-12-05 04:38] blacksmoke26 commented on #295
Already pulled!

[2018-12-17 01:43] JmpEsc opened #317 "Flag descriptions"
I'm currently working on a flag identifier React app to search for flags by description. Would you be interested in a PR for the flag descriptions? Currently my descriptions looks like this:
`{"BR" : "brazil green yellow blue white rectangle circle device words stars ordem e progresso"`

I'm working on getting it more to something closer to:
[code]

The CIA World Factbook is the only place I've fo

[2018-12-17 01:44] JmpEsc commented on #317
The CIA World Factbook is the only place I've found so far with easily parseable data. In lieu of using their descriptions, I may use openCV or try to munge the data from SVGs.
Anyway, please let me know if you'd even be interested in this. And thanks for this cool project, by the way.

[2018-12-21 10:31] compojoom opened #318 "Update npm package?"
Packagist is already on 2.1.0, but npm lags behind on 2.0.0 - can we update it as well?

[2018-12-21 10:42] mledoze commented on #318
:wave: @compojoom sure I'll do it today

[2018-12-21 13:09] mledoze commented on #318
@compojoom it's done https://www.npmjs.com/package/world-countries

[2018-12-21 13:09] #318 closed

[2019-01-24 22:55] bfelbo commented on #181
@jurchiks Did you ever find or create this? We also need a list of the most commonly spoken languages in each country (rough approximation or outdated order is fine).

[2019-01-24 22:58] jurchiks commented on #181
I did it manually, but  in many cases there aren't actually such generic "most commonly spoken languages"; for many countries, they are split by region, or by usage (legal vs colloquial), etc.

[2019-01-24 23:07] bfelbo commented on #181
Okay, that makes sense. Could you share your list? That would be really appreciated!

[2019-01-24 23:37] jurchiks commented on #181
Unfortunately I don't have access to the database anymore.

[2019-01-27 08:05] kmpoppe commented on #209
I'm a little late to the party, but a) I'd like the address formats in the json and b) I don't think `{{cr}}` is too 80's ... VisualBasic also uses `vbCrLf` for carriage-return/line-feed, so I think that's nothing to worry about!

[2019-02-06 03:07] XanderDwyl opened #323 "Flag is missing or did not display in windows OS"
![franz](https://user-images.githubusercontent.com/5339274/52318396-4276ec00-29ff-11e9-8320-ab7707971dae.jpg)

[2019-02-11 13:10] mledoze commented on #323
Hello @XanderDwyl, thank you for your issue.

Could you share more info about the problem? Is it the flag of Singapore that you are trying to display?

[2019-02-11 13:12] mledoze commented on #317
Hello @JmpEsc, IMO this kind of data is out of scope for this project. Thank for your offer though, I really appreciate it!

[2019-02-11 13:12] #317 closed

[2019-03-05 08:37] trippo opened #324 "Ita translation on Curaçao"
there isn't ita translation of Curaçao

[2019-03-17 19:21] mledoze commented on #324
I'll fix this, thank you @trippo.

[2019-03-19 08:06] #324 closed

[2019-03-19 12:50] mledoze commented on #324
It's fixed on master with 96772ac96ef5b202c17ffa67aae55e397ecc024a. I'll publish a new release soon.

[2019-03-25 12:32] mledoze commented on #209
@kmpoppe you're not late to the party :) I'm okay with the `{{cr}}` proposal. @drbyte are you still willing to work on this?

[2019-03-25 12:34] mledoze commented on #295
I close this issue, the contribution for urdu translations is already on master. Thank you @blacksmoke26!

[2019-03-25 12:34] #295 closed

[2019-03-25 17:45] drbyte commented on #209
I'm still interested in seeing this done.
It'll be several weeks before I can tackle it though, especially if it all must be coded by hand instead of imported.

[2019-03-26 10:38] blacksmoke26 commented on #295
Thank You, Mohammed!

[2019-03-26 11:45] lpellegr opened #327 "Missing columns in CSV file"
Since your last update, at least the CSV content includes broken entries:

https://github.com/mledoze/countries/blob/e7c00bcb7a291a57970a338dd108e52fb0cee489/dist/countries.csv

For instance, row 29 should actually have 22 columns, instead of 21.

I noticed this regression since we have a parser that relies on your great data and parses the last column.

[2019-03-26 11:55] mledoze commented on #327
Hello, thank you for this issue, I am sorry for the inconvenience, I will fix this right away.

[2019-03-26 12:24] mledoze commented on #327
This has been fixed by #328 and merged on master.

Thank you for your patience.

[2019-03-26 12:24] #327 closed

[2019-03-26 16:11] lpellegr commented on #327
@mledoze Thanks a lot for your responsiveness.

[2019-04-07 12:18] mledoze commented on #209
I understand. I will try to fetch the data directly from hexorx data and add it in this project.

[2019-04-10 08:29] mozartilize opened #332 "Myanmar's demonym"
As #111 pointed out that Myanmar's demonym is Bamar but it's actually one of ethic groups according to [wiki](https://en.wikipedia.org/wiki/Myanmar), so I think the correct one is Burmese or Myanma

[2019-04-10 09:54] #332 closed

[2019-04-10 09:54] mledoze commented on #332
Hello @mozartilize thank you for this issue, I fixed it on master.

[2019-04-10 09:55] mledoze commented on #307
Thank you for this idea @blacksmoke26 but I don't think it's worth it.

[2019-04-10 09:55] #307 closed

[2019-04-10 09:56] #285 closed

[2019-04-10 18:05] blacksmoke26 commented on #307
Ah! No issue!

[2019-04-16 08:52] markyky opened #333 "Outdated country name - Macedonia"
Macedonia has been renamed to 'North Macedonia'.

(https://www.trtworld.com/europe/macedonia-is-officially-renamed-north-macedonia-24103)

[2019-04-16 12:49] mledoze commented on #333
Hello, thank you for raising this issue, I will fix it.

[2019-04-24 08:29] MrGrabazu commented on #143
Hi, there, it remains SDB in commited generated data, so has it been really fixed ?
See : [Solomon Island Dollar](https://en.wikipedia.org/wiki/Solomon_Islands_dollar)

Thanks

[2019-04-25 11:02] pjadanowski opened #336 "currency denominations"
it would be great to add currency denominations to each country currency object eg for Germany

Euro banknotes are issued in €500, €200, €100, €50, €20, €10, €5 notes.
Denominations of Euro coins are €2, €1, 50c, 20c, 10c, 5c, 2c, and 1c.

[2019-05-01 17:56] #333 closed

[2019-05-01 17:58] mledoze commented on #336
Hello @pjadanowski,
thank you for your proposal, but I am afraid that currency denominations are too specific for this project. It is meant to be a general purpose dataset about countries.

[2019-05-01 17:58] #336 closed

[2019-05-21 11:16] matkoniecz commented on #302
Have you tried viewing data with something known to be reliable to check that problem is not caused by your implementation?

[2019-05-21 11:18] matkoniecz commented on #222
While it may be useful to add "boundaries according to the India government", it should be added solely as a variant rather that replace real boundaries.

[2019-06-27 12:48] avarapayeva opened #338 "No Chinese labels for countries"
Hello Colleagues, could you add Chinese translations support for list of countries?
[Countries.Chinese.zip](https://github.com/mledoze/countries/files/3334756/Countries.Chinese.zip)
We've prepared json with Chinese values for you. Could you please add them to the library?
It's a blocker for us to proceed with your solution.

Thank you in advance.

[2019-06-27 17:13] MenosGrante commented on #338
Hey, I guess you can fork it and add your localization. I guess ODC licenses allows it until you will keep your fork open source.

Correct me, if I am wrong about licenses.

[2019-07-06 01:21] ghvfsdasdu opened #339 "国外文凭办理精英国际文凭俱乐部"
[国外文凭办理](https://www.diplomaclub.net)精英国际文凭俱乐部www.diplomaclub.net

[2019-07-10 14:57] mledoze commented on #338
Hello, the Chinese translations are already available in this project, it's in `translations.zho`.

[2019-07-10 14:57] #338 closed

[2019-07-10 14:59] mledoze opened #340 "Peru flag is missing the detail crest"
Copied from https://github.com/apilayer/restcountries/issues/134

[2019-07-10 15:16] mledoze commented on #340
Fixed by https://github.com/mledoze/countries/pull/341.

[2019-07-10 15:16] #340 closed

[2019-08-11 13:04] smuellner opened #347 "SQL support"
Support SQL insert and updated scripts for countries and translations of country names.

[2019-08-11 13:05] smuellner commented on #347
Pull Request is outstanding https://github.com/mledoze/countries/pull/346

[2019-08-14 10:22] luoying1105 opened #348 "Hong Kong is not a country"
Hong Kong is not a country

[2019-08-14 10:38] herrjemand commented on #348
Honk Kong is an autonomous territory that is recognised by UN as a self
governing territory.

So from our point of view its a country.

On Wed, 14 Aug 2019 at 11:22, luo ying <notifications@github.com> wrote:

--
Yuriy Ackermann
FIDO, Identity, Standards
skype: ackermann.yuriy
github: @herrjemand <https://github.com/herrjemand>
twitter: @herrjemand <https://twitter.com/herrjemand>
medium: @herrjem

[2019-08-14 22:20] nobodxbodon commented on #348
Indeed it's not a country. The `independent` attribute is "false" in the [json file](https://github.com/mledoze/countries/blob/master/countries.json).

Similar with Macau and Taiwan (its `official` name "Republic of China (Taiwan)" is totally another issue to discuss about).

That said, the project name and `countries.json` file name seems quite misleading to me, as it sounds like all the entities

[2019-08-14 22:43] herrjemand commented on #348
Honk Kong is self governing territory under special agreement with PRC, same as Tonga has with NZ. HK has it's own Goverment. Manage's it's own affairs. It's own passport, olympics team, etc. HK as of right now is a country. You are free to ping us in 2047 when the agreement between PRC and HK will finish and HK will integrate as part of china. We will be happy to update our DB then

Propose closi

[2019-08-14 23:25] nobodxbodon commented on #348
I'd suggest not taking too much personal view into this project. As the project states, it's based on ISO Standard 3166-1, which "defines codes for the names of countries, dependent territories, and special areas of geographical interest" (see [wiki](https://en.wikipedia.org/wiki/ISO_3166-1)). So it's better to avoid misleading users to think all the entities in it are countries.

[2019-08-20 18:18] calmforce opened #349 "South Sudan is empty, but Sudan has it included"
There are problems with both South Sudan country map and Sudan country map. The South Sudan map is empty: https://github.com/mledoze/countries/blob/master/data/ssd.geo.json

The Sudan country map is not empty, but it includes South Sudan, which is obviously wrong as well: https://github.com/mledoze/countries/blob/master/data/sdn.geo.json

What can be done about this? Are there known editors that I

[2019-08-20 20:47] nobodxbodon commented on #4
@mledoze seems https://github.com/Shopify/active_utils/pull/10 was closed because

Should this PR be reverted, given that this project is based on the same ISO 3166?

[2019-08-21 02:03] zhusee2 commented on #4
I would be against reverting this PR.

Most citizens from Taiwan disagree the ISO name. For us we no longer see us as any part of China, which now represents the PRC. The ISO has been refusing to change this name because, you know, “China issues.”

I see this repository now refers Taiwan as “Republic of China (Taiwan)” and I'm very grateful for that. That's the name our own government is using to

[2019-08-21 02:18] nobodxbodon commented on #4
As the project README states, the data is "defined by ISO Standard 3166-1".

If it subjects to different personal opinions instead, it will hurt its credibility.

[2019-08-21 05:41] Domon commented on #4
It's not a personal opinion. The decision was practical and reflected the reality.

[2019-08-29 16:11] tonyhhyip commented on #348
Hong Kong is allowed to be treated as a country according to the Basic Law, so maybe @nobodxbodon should open the issue after 2047 or the Chinazi government decide to break their promise

[2019-08-29 16:25] jdh8 commented on #4
The ISO 3166-1 is just an excuse of their political campaign to spread Chinese censorship over open-source projects.
https://github.com/nobodxbodon/one-China

[2019-08-29 19:20] nobodxbodon commented on #4
No matter what my or your group's opinion is, the project states clearly that it's based on ISO 3166, and it should keep consistent with it as much as possible.

Otherwise this will just become a contest to see who's louder by comparing which side has more supporters, which I've been trying to avoid from the beginning.

[2019-08-29 23:52] Lin-Buo-Ren commented on #4
@nobodxbodon

I've proposed a fix for your concern, please review.

[2019-09-01 21:34] smaddy opened #351 "Territory of American Samoa - Typo United State Dollar"
United State Dollar => United State**s** Dollar

[2019-09-02 04:47] mledoze commented on #351
Hello, could you please send me a pull request with this change?
Thank you

[2019-09-02 17:30] #351 closed

[2019-09-02 17:59] mledoze commented on #349
Hello, thank you for reporting this issue.

You are right, something is wrong. The source for the countries map is http://www.naturalearthdata.com/

I used QGIS to convert the shape files into GeoJSON.

Maybe you could update the maps of Sudan and South Sudan from the files of natural earth data using QGIS or other suitable tools?

[2019-09-03 15:56] mledoze commented on #348
Agreed. I will update the README to clarify this.

[2019-09-03 15:56] #348 closed

[2019-09-03 16:04] mledoze commented on #348
Here it is: https://github.com/mledoze/countries/blob/2d5d74b92c17dfe93ddcff78833f15e0e4d35db8/README.md

[2019-09-03 16:33] mledoze commented on #4
Hello all,

I will not revert this change that was made more than 6 years ago (https://github.com/mledoze/countries/commit/5403385561766789c44673ff1adb44552d93c050). Many projects use this dataset and are perfectly fine with the name of Taiwan.

Thank you for pointing that out. I will not be subject to Chinese propaganda.

Consider this topic closed.

[2019-09-03 21:47] adamazing commented on #348
s/sovereing/sovereign/ :)

[2019-09-03 21:56] mledoze commented on #348
Ahah good catch 🙂
It's fixed https://github.com/mledoze/countries/commit/4142b1afc4e7a470a493ad48943be850bee85502

[2019-09-19 15:31] zebde opened #356 "Add "DPRK" as alternative spelling of North Korea"
Could we add the altSpelling of "DPRK" to the North Korea entry

[2019-09-29 13:33] rubengmurray opened #357 "Adding GB Subdivisions Per ISO 3166-2:GB"
I have a use case for England, Scotland, Wales & Northern Ireland to be identified individually rather than blanket 'GB' attribution.

I note that this was mentioned quite a while ago in https://github.com/mledoze/countries/issues/6#issuecomment-27485840 but can't see there's been any discussion since...

@mledoze I'd be happy to contribute. Sounds like there were some hierarchy changes suggested

[2019-10-15 08:47] bbsnly opened #359 "Add two-letter ISO 639-1 language code"
It would be nice to have the ISO 639-1 language code, when exists, for each language.

For example:
[code]

[2019-10-30 12:00] Booster2ooo opened #360 "Outdated npm"
Hello,

I noticed the npm package is outdated.
Would it be possible to update it?
Thanks a lot, keep on the good work!

Best regards,
Booster2ooo

[2019-12-07 03:56] spekulatius opened #363 "Adding commonly used abbreviations, such as "UK" for United Kingdom and "DE" for Germany"
I know some information is in the alternative names, but it would be easier to have a clearly identifiable field for this. Otherwise, the title says it pretty much all.

[2019-12-18 21:33] mledoze commented on #360
:wave: You are right, I will prepare a new release.

[2019-12-18 22:03] mledoze commented on #360
Here is the release 3.0.0

https://github.com/mledoze/countries/releases/tag/v3.0.0

[2019-12-18 22:03] #360 closed

[2019-12-19 07:45] mledoze commented on #349
👋 Hello @calmforce, friendly ping ;)

[2019-12-19 13:34] retyui opened #367 "Curaçao calling code is +599"
[code]

[2019-12-19 13:44] mledoze commented on #367
You are right. I am not able to fix this right now. Could you please send me a pull request with the fix? I'll merge it right away.

[2019-12-20 09:04] mledoze opened #368 "Merge `demonym` into `demonyms`"
As a followup to #343, we need to merge the `demonym` property into `demonyms` to avoid duplication.

Ping @alexsegura

[2019-12-20 10:59] alexsegura commented on #165
Since #343 has been merged, I think this can be closed? @mledoze

[2019-12-20 11:28] mledoze commented on #165
Sure.

[2019-12-20 11:28] #165 closed

[2019-12-20 11:31] #367 closed

[2019-12-20 11:32] mledoze commented on #367
Fixed by #370.

Thank you @retyui

[2019-12-21 15:12] mledoze commented on #363
Hello, thank you for your proposal. I suggest you use the `cca2` property which resembles what you are looking for, although it's `GB` for United Kingdom.

Adding a field with commonly used abbreviations would be redundant with the `cca2` property.

[2019-12-21 15:12] #363 closed

[2019-12-21 15:21] mledoze commented on #359
Hello @bbsnly, thank you for your proposal. This project tries to provide only high-level data about countries and avoid too much detailed information. I would prefer that we stick to the three-letter language codes.

[2019-12-21 15:21] #359 closed

[2019-12-21 15:41] mledoze commented on #357
Hello @rubengmurray thank you for bringing up this issue again. It is time that we provide a clean solution to it.

Yes there were, but no work was made on this subject. Your contribution is more than welcome! As you can see—with my delay to answer you—I lack the time to implement all the ideas I have for this project, especially this one.

There are two subjects here:

1. add GB subdivisions per

[2019-12-21 15:59] jjlharrison commented on #357
I may be able to help with this.

I have compiled a set of files containing subdivision information for each country, but I stalled when trying to come up with a way of structuring the hierarchy of data. I think it might be better to just have a flat list for each country.

I agree that adding this information would greatly increase the size of the file and should probably be split into separate f

[2019-12-21 15:59] #356 closed

[2019-12-21 15:59] mledoze commented on #356
It's done on master

[2019-12-27 14:47] xcarpentier opened #372 "Hebrew translation missed"

[2020-01-03 17:34] avionbg opened #373 "Iran has wrong language code"
Iran data contains:
[code]
But that's 639-2/B code, correct 639-3 code would be "fas", here is data collected from official ISO sites:
[code]

[2020-01-03 20:37] #368 closed

[2020-01-03 20:49] #323 closed

[2020-01-03 20:52] #373 closed

[2020-01-31 17:07] HartBlanc opened #375 "Basis for inclusion of states with limited recognition."
Hi, I'm trying to decipher under what circumstances a country is included in this repo?

Based on an old 2014 issue (#68) and the presence of ISO codes I understood that it was based on UN membership but Kosovo (non-member, non-observer) appears to be included with a user assigned ISO code, but missing numeric code.

However, other common examples are not included (e.g. Northern Cyprus, more exhau

[2020-03-03 20:45] rubengmurray commented on #357
Hi @mledoze

@jjlharrison what did you end up doing for your project?

Splitting them out into separate files is probably a good idea. I've knocked something up on a separate branch splitting the json out and I'm happy to push to this repo to share and work on if you're still interested? I don't have a ton of time either but can share the load on a branch or two.

Cheers

[2020-03-10 14:25] Lupinity commented on #6
One thing I would really like to see added is the most commonly used native language / administrative language used in the country.

For example, Norway has three different, unweighted native names:
`"native":{"nno":{"official":"Kongeriket Noreg","common":"Noreg"},"nob":{"official":"Kongeriket Norge","common":"Norge"},"smi":{"official":"Norgga gonagasriika","common":"Norgga"}}`

And there is no wa

[2020-03-11 21:59] VictorQueiroz opened #378 "How to make sense of dialing code out of "idd" property?"
In a previous version we had `callingCode` property but now this property is gone. `idd` is rather confusing to me.

For example: Brazil country code is `55` but it is now split into `idd.root = 5` and then `idd.suffixes = [5]`. It doesn't make any sense to me.

Can someone explain to me how can I achieve original country code using this data?

[2020-03-14 21:49] rubengmurray commented on #357
Initial split: https://github.com/rubengmurray/countries/tree/individual-files/country-data

[2020-03-29 15:26] mledoze commented on #378
Hello @VictorQueiroz,

it's rather simple: to construct the list of calling codes for a country, you need to concatenate the root part with each suffixes.

The reasoning behind the refactoring of the old `callingCode` property can be found in the [original pull request](https://github.com/mledoze/countries/pull/124).

[2020-03-30 13:39] mledoze commented on #378
This gave me an idea: we could recreate the old `callingCode` property at build time from the `idd` field, what do you think @VictorQueiroz?

[2020-04-05 09:12] VictorQueiroz commented on #378
Hi @mledoze,

sorry about the delay. I appreciate your initiative and attention with my issue. I think it'd be great to have that as a package that would use `world-countries` package underneath it. Seems less aggressive. :)

[2020-04-05 17:36] mledoze commented on #378
There is no need for another package. I can generate the calling codes only in the [`dist`](https://github.com/mledoze/countries/tree/996bbcc84098b593d5e246990b522edf305bdc41/dist) files which are generated from the data in the main [`countries.json`](https://github.com/mledoze/countries/tree/996bbcc84098b593d5e246990b522edf305bdc41/countries.json).

[2020-04-06 12:52] mtimofiiv commented on #288
Hello, this issue is closed but maybe it's nice to give this some more thought.

I'm not here to start discussions on who should and should not be considered a country. I know it would just be useful to have this data.

Many regions are autonomous or self-governing but fall under another state's de jure or de facto authority. And no case is the same.

American Samoa. The United States of America i

[2020-04-06 13:19] mledoze commented on #288
Hello @mtimofiiv, thank you for the proposition, I like the idea.

Do you know where we can find the data for passport issuers?

[2020-04-06 14:20] mtimofiiv commented on #288
Hey @mledoze that's a good question 😉

There is no complete dataset of this that I've been able to find. After doing some research on the subject, I was able to find some very limited data.

Here's some data on what the European Union considers valid passports:
https://www.consilium.europa.eu/prado/en/prado-recognised-documents.html

We can probably discount the fantasy (ie. "Knights of Malta") +

[2020-04-07 21:46] kevinsimper opened #386 "Steps to make npm package smaller"
Right now the package is more than 100 kb

https://bundlephobia.com/result?p=world-countries@4.0.0

I would recommend we add a .npmignore so that for example .php files are not in the package.

[2020-04-08 06:55] mledoze commented on #386
👋 You are right. I have been thinking about that too. I will take care of it.

[2020-04-09 11:07] kevinsimper opened #387 "Update common name of Czech Republic"
I was confused when I saw there was no Czech Repulic on the list, but then discovered it was Czechia, but I had never heard that before and have been multiple times to Czech Repulic.

I would argue that the common name should be changed to Czech Repulic

Here is also a article about the confusion:
https://www.theguardian.com/world/2016/oct/25/nobody-calls-it-czechia-czech-republic-new-fails-catch-

[2020-04-09 11:14] kevinsimper commented on #387
Okay, it should not be changed, I researched some more and it is just my ignorance, here it is prominent on Google Maps

![image](https://user-images.githubusercontent.com/1126497/78889158-6e5a8b00-7a63-11ea-999b-ace2cccd938f.png)

[2020-04-09 11:14] #387 closed

[2020-04-09 11:30] mledoze commented on #387
To add to the confusion, Wikipedia page of the country is "Czech Republic", see the request to change the name to Czechia https://en.wikipedia.org/wiki/Talk:Czech_Republic#Move_request:_Move_Czech_Republic_to_Czechia

[2020-04-09 13:03] #386 closed

[2020-04-09 13:05] mledoze commented on #386
I prefer to use a whitelist instead of a blacklist. So I added the `files` property in `package.json` like so:

[code]

I am not sure this will save a lot since the `data` directory is big.

[2020-04-09 14:00] #378 closed

[2020-04-09 14:01] mledoze commented on #378
:wave: @VictorQueiroz it's done on master. I will release a new version by the end of this week.

[2020-04-09 14:37] kevinsimper commented on #386
@mledoze That is a even better idea! Thank you! 😄

[2020-04-09 14:45] kevinsimper commented on #387
@mledoze Haha that is really confusing 😅

[2020-04-09 14:56] kevinsimper opened #390 "Convert json file to module in npm package"
With ES6 modules it is not possible to load JSON files with using experimental JSON support.

https://nodejs.org/api/esm.html#esm_experimental_json_modules

I would suggest that the JSON file is converted to a js file and added `export default ` in front, which makes it a valid .js file.

This would also allow it to be loaded through Pika CDN, unpkg and sites alike, since the browser don't support

[2020-04-10 13:59] mledoze commented on #357
Hello @rubengmurray thank you for your work, yes I am still interested!

I have looked at your branch on your fork. I would like to change some things:
- I would prefer that we use the existing `data` directory
- since all files in the `data` directory are already named with the ISO 3166-1 alpha-3 country code, I propose the following directory structure:
[code]

What do you think? You said that y

[2020-04-11 12:47] mtimofiiv commented on #302
This might be 2 years old but I got a similar issue recently. The valid range of latitude is `-90...90`, but the max range of longitude is `-180...180`, so if you're using something that takes the opposite order from the geojson in this package (which uses `long, lat`), you will not only find the shapes drawn to be rotated but also skewed such as this.

[2020-04-11 12:55] mledoze commented on #302
@mtimofiiv do you think there is a problem with this dataset or with the implementation of @chema-mengibar?

[2020-04-12 13:22] mtimofiiv commented on #302
@mledoze I don't think there is a problem here TBH, it's perfect as-is and the proof is that the Github preview of the GeoJSON is correct. The [GeoJSON spec calls for `[ lat, long ]` coordinate values and not `[ long, lat ]`](https://stackoverflow.com/questions/19098667/order-of-coordinates-in-geojson). Unfortunately, many maps use the opposite:

https://leafletjs.com/reference-1.6.0.html#latlng
h

[2020-04-15 19:39] rubengmurray commented on #357
Sounds good to me - I think this is it:

https://github.com/mledoze/countries/pull/393

Maybe you can merge this into a separate branch on this repo so you can do the build work?

Cheers

[2020-04-18 15:05] mledoze commented on #372
Hello,
I managed to fetch the common countries name in Hebrew from Wikipedia, but I can't find a way to retrieve the official names. I tried to parse the text of each country page with no success. The fact that Hebrew is a right-to-left language, does not help.

Can someone help me on this?

Thank you

[2020-05-04 08:29] xcarpentier commented on #372
Hi,
Any help @shem8 ?

[2020-05-08 04:44] Arniox opened #394 "Searching by language code - Tagalog (Filipino) TL doesn't exist"
I'm creating an auto-translation feature for website that takes input and automatically translates it with a tag for countries that use that language and so on.
I'm using google translate api to send text in, detect the language and then give me the resultant translated text with the resultant country code.

During testing, I noticed some languages/language codes spat out by google translate that

[2020-05-21 03:37] wjkhappy14 opened #397 "Maybe rename the 'name' as fullname much better"

[2020-06-07 06:04] DAP-GitHub opened #399 "Errors in file countries-unescaped.json"
Probably due to errors in source files, to be taken into account when uploading them :
1. Kosovo has no attribute "independent" : suggestion, make it false by default
2. Antartica has "callingCodes":[] : suggestion, as we expect a string inside the array (such as "+49"), make it callingCodes":[""], as it is for «Heard Island and McDonald Islands»

[2020-06-09 11:04] mledoze commented on #399
Hello @DAP-GitHub,

The attribute `independent` is present for Kosovo, its value is `null`: https://github.com/mledoze/countries/blob/cc6993ec4e336d22232e64c63853793eba37b1cd/dist/countries-unescaped.json#L125
The reason for this value can be found here: https://github.com/mledoze/countries/pull/257#issuecomment-356522371

Antarctica has no official calling code, so the value `"callingCodes":[]` i

[2020-06-09 11:04] #399 closed

[2020-06-18 05:37] DAP-GitHub opened #400 "Simple API to download country files"
Hello,
Unless it already exists (but I have not found it),
It would be useful to have a simple API to dowload the files such as
https://github.com/mledoze/countries/download/countries-unescaped.json. This HTTP request could easiliy be integrated in any program to fetch/update the list.
Thanks

[2020-07-18 12:46] mledoze commented on #397
Hello, I prefer to keep things simple. You have to full name of a country under `name.official`.

[2020-07-18 12:46] #397 closed

[2020-07-18 12:49] mledoze commented on #394
Hello,
this dataset contains only the list of **official** languages. As per [Wikipedia](https://en.wikipedia.org/wiki/Philippines), Tagalog is not an official language, but a recognized regional language.

[2020-07-18 12:49] #394 closed

[2020-07-18 12:57] mledoze commented on #400
Hello,
you should check this project https://github.com/apilayer/restcountries whose data comes from my project.

If you need to access the files from this project directly, you can always access them via `raw.githubusercontent.com`: https://raw.githubusercontent.com/mledoze/countries/master/dist/countries-unescaped.json

[2020-07-18 12:57] #400 closed

[2020-07-19 17:00] mledoze commented on #390
Hello, I am not a JS developer, but should we modify the [`index.js`](https://github.com/mledoze/countries/blob/da8b09712f7319b5406eac4c37bfdbd68c4834f7/index.js) file instead?

[2020-07-19 17:01] mledoze commented on #372
I am going to close this for now until someone figures out how to extract the Hebrew translations from Wikipedia.

[2020-07-19 17:01] #372 closed

[2020-07-20 12:31] chema-mengibar commented on #302
Hi, everybody,

I´m really sorry for the delay (2 years)  :_)
The problem was exactly the one described by mtimofiiv,  simply change the order of  "lon" and "lat".
When changing the values, the shapes are shown correctly.

In my case I didn't need a function to change the order, and just change the order to the parameters in the function.

Thank you very much mledoze for the repository.

[2020-07-20 12:31] #302 closed

[2020-07-20 12:58] mledoze commented on #302
Don't worry for the delay, it happened to me many times.

Thank you for your comment, I appreciate it.

[2020-08-08 13:41] alonroth commented on #372
@mledoze Can I offer my help with the official names?

[2020-08-27 12:00] FredySteiner opened #403 "Change IOC Code for Singapore to SGP"
Change from:
wrong: "cioc": "SIN"
to
correct:
**"cioc":"SGP"**

see https://www.olympic.org/singapore

[2020-08-27 12:08] FredySteiner opened #404 "Change IOC Code for Lebanon to LBN"
Change from:
wrong: "cioc": "LIB"
to
correct:
**"cioc":"LBN"**

see https://www.olympic.org/lebanon

[2020-09-14 15:56] sandeep-tukaram commented on #222
@matkoniecz  real boundary is what is not defined in this case. I would suggest not to tag anything as 'real.' Boundary according to XYZ government should suffice or something more pleasant to read.

[2020-09-14 17:54] matkoniecz commented on #222
"real boundary is what is not defined in this case."

Which areas controlled by India government are not listed as part of the India in this repository?

[2020-09-14 18:50] sandeep-tukaram commented on #222
Jammu and Kashmir doesn't match Political Map of India published at http://www.surveyofindia.gov.in/files/Political%20Map%20of%20India.jpg

[2020-10-17 19:47] hexabyte23 opened #405 "Wrong svg file for cuba country"
data/cub.svg is bad formated

[2020-10-17 20:12] mledoze commented on #405
Thank you, I'll look into it.

[2020-10-19 12:10] #349 closed

[2020-10-28 09:43] jamespwilliams opened #407 "Geojson Omissions"
There are a few omissions in the geojson (and presumably topojson) of this repo:

- The Dutch part of Sint Maarten is labeled with ISO_A2 BL, when it should be SX
- BQ (https://en.wikipedia.org/wiki/Caribbean_Netherlands) is missing
- CW (https://en.wikipedia.org/wiki/Cura%C3%A7ao) is missing

I'll have a go at fixing these this morning.

Once these are fixed, this repo will have geojson/topojson

[2020-10-28 09:45] mledoze commented on #407
Hello @jamespwilliams, thank your for your help. FYI the GeoJSON data comes from http://www.naturalearthdata.com/

[2020-10-28 11:13] jamespwilliams commented on #407
Couple more issues I've noticed as I'm working on this:

- BL (St Bartholemy) needs to have its *json corrected, since this data currently says it is where SX is
- GP includes St Bartholemy when it shouldn't

My plan to fix is to remove BL from GP, and then add BL's actual location.

[2020-10-30 13:54] #407 closed

[2020-12-03 20:22] tinohager opened #410 "Central Europe wrong?"
During my last data comparison I noticed that there is only one country with the following region "Central Europe"

https://github.com/mledoze/countries/search?q=%22Central+Europe%22

[2020-12-09 18:58] tinohager commented on #410
The SubRegion is here `Eastern Europe`

https://github.com/hexorx/countries/blob/master/lib/countries/data/countries/SK.yaml

[2020-12-13 16:24] BordyV commented on #405
Hi are you still looking into it ? 😄

[2020-12-13 16:35] hexabyte23 commented on #405
yes sure

[2020-12-15 08:39] mledoze commented on #405
Oups sorry for the delay. I got caught up by life... I will fix it today.

[2020-12-15 08:49] #405 closed

[2020-12-15 08:49] mledoze commented on #405
It's fixed on master.

https://github.com/mledoze/countries/blob/133ab7e80e8b175b6b828d0e93f21cfc6cbb7cce/data/cub.svg

[2020-12-19 00:29] egyleader opened #412 "[feature] Country time zone"
is there any current way to get get countries time zone `ex:UTC+2` from this package ??
 and if not should I add a pull request by this data ?

[2020-12-22 09:13] mledoze commented on #412
Hello, unfortunately this repository does not contain timezone data, only static data. This is choice that I made a long time ago, see [`CONTRIBUTING.md`](https://github.com/mledoze/countries/blob/133ab7e80e8b175b6b828d0e93f21cfc6cbb7cce/CONTRIBUTING.md).

However you can find timezone data in an other project that use this dataset, see: https://gitlab.com/amatos/rest-countries

[2020-12-22 09:13] #412 closed

[2020-12-22 09:21] mledoze commented on #410
You are right, I will fix this.

[2020-12-22 10:06] #410 closed

[2020-12-24 08:47] egyleader commented on #412
thanks for clarification

[2021-02-17 19:15] ianknowles commented on #126
`UNK` is not the correct code to use, should probably be `XKX` to identify Kosovo or data relating to (The only official source I can find correctly using ISO3 is the world bank using `XKX`). `XKX` correctly identifies it as an unofficial code ISO3 while official recognition is pending. As there is another field identifying it as user-defined its not correct to return an empty string for the numer

[2021-02-23 22:59] Puffycheeses opened #415 "index.d.ts type declaration incorrect"
When installing this project via NPM the type of `demonym: string` is incorrect

The type should be:
[code]

If coming from google here's a temp patch that can be done in your project (How I've fixed it for now):
[code]

[2021-03-26 20:22] rubengmurray commented on #357
@mledoze any appetite for https://github.com/mledoze/countries/pull/393 ?

Seems to have a few merge conflicts now... may be best to close if not part of the plans for the repo?

[2021-04-14 11:34] tloebhard opened #416 "Wrong German translation of Hong Kong in Webservice"
Hi,

https://restcountries.com/v2/name/Hong%20Kong
https://restcountries.eu/rest/v2/name/Hong%20Kong
deliver `"de": "Hong Kong",` (which is wrong)

In https://github.com/mledoze/countries/blob/master/countries.json it is correct: (https://de.wikipedia.org/wiki/Hongkong)
[code]

In https://github.com/apilayer/restcountries/blob/master/src/main/resources/countriesV2.json (no more maintained?) there

[2021-04-14 11:56] mledoze commented on #416
Hello,

this dataset is not directly used by the restcountries.com API. The project https://github.com/apilayer/restcountries/ appears to be no longer maintained. You should open an issue on this fork https://gitlab.com/amatos/rest-countries instead.

[2021-04-14 11:56] #416 closed

[2021-07-15 11:11] khamsolt opened #419 "Missing tag in some svg files."
Assalam alaikum. In the countries I have listed:

`HUN LCA SOM NLC GBR CAF GMB GUF HUM IND LBR LCA MAC MKD NLD PLW ROU SOM SYR TLS UKR WLF`

The flags of these countries are missing tags

`<?xml version="1.0" encoding="UTF-8"?>`

Should I count on fixing this error in the near future? And thanks for the awesome package.

@mledoze

[2021-07-17 14:45] khamsolt commented on #419
@mledoze hi, I need your help...

[2021-07-17 14:50] khamsolt commented on #419
@mledoze @herrjemand @cumanacr @fayderflorez @oscerd help me, for example https://github.com/antonioribeiro/countries/pull/169/files

[2021-07-17 19:16] cumanacr commented on #419
@khamsolt fork the repo and change it at your heart content is the easiest way

[2021-07-17 23:55] khamsolt commented on #419
@cumanacr I need this package within another package  (https://github.com/antonioribeiro/countries).

[2021-07-19 00:58] cumanacr commented on #419
Maybe you must fork [antonioribeiro/countries](https://github.com/antonioribeiro/countries) package then, change the svg flags in directory [countries/src/data/flags](https://github.com/antonioribeiro/countries/tree/master/src/data/flags) instead. That directory hasn't been updated in years, that is what I would do if I was in your place

[2021-07-19 08:30] khamsolt commented on #419
@cumanacr thanks for the advice, but our team tried just that. Here is our [issue](https://github.com/antonioribeiro/countries/issues/167), however, the author pointed us to a data update script. This script downloads your package, moves files from there. Therefore, we are trying to add these changes here. Due to the fact that this tag is missing, we cannot show them in the browser, the browser is

[2021-07-19 15:24] cumanacr commented on #419
It's not my package I wrote an issue in 2015 and that's all ¯\_(ツ)_/¯
I cannot merge anything, sorry
Wait for @mledoze he will check your pull request don't worry just be patient
Regards, over and out

[2021-07-19 15:52] khamsolt commented on #419
@cumanacr Thank you, I decided if you are on the maintainer list then you can merge branches =) Sorry

[2021-08-06 10:10] inDeev opened #424 "Czechia - change first letter to uppercase"
In your json, csv, xml, yaml is Czechia many times named as "česká republika", but initial "č" had to be uppercase "Č"

[2021-08-06 18:37] mledoze commented on #424
Good catch!
I'll fix this.

[2021-08-17 11:34] #415 closed

[2021-08-18 15:55] nikcorg opened #427 "Type errors in `currencies` field in JSON export"
For these 4 countries the `currencies` field in the `countries.json` file is an empty array (`[]`), which is inconsistent with the rest of the dataset. It should be an empty object (`{}`) instead.

- Antarctica
- Bouvet Island
- Micronesia
- Heard Island and McDonald Islands

[2021-08-19 13:53] nikcorg opened #428 "Type errors in YAML export"
The `capital` property should be a string array, but is an empty map for Bonaire, Sint Eustatius and Saba.

The `tld` property should be a string array, but is an empty map for Republic of Kosovo.

[2021-08-25 15:32] sylvainemery commented on #375
Hi,

Somewhat related: @mledoze, do you consider [non-member observers](https://en.wikipedia.org/wiki/List_of_current_permanent_representatives_to_the_United_Nations#United_Nations_General_Assembly_observers) as part of the UN? Because I see that Holy See (Vatican City) is marked as a UN member, but not the Palestine, and they have both the same status.
Thanks!

[2021-08-26 10:27] mikaelpelle opened #429 "'\n' line break in DR Congo translations causing issues"
If you look for `\n\` in JSON file, you'll find the extra `\n` line break that is not needed / create issues under "DR Congo" translations.

[2021-08-26 11:58] #429 closed, assigned to nobody

[2021-08-30 07:19] sticky-web opened #432 "Montenegrin language code"
The montenegrin language code says "srp", but it should be "cnr" (https://en.wikipedia.org/wiki/ISO_639:cnr)

I've cloned the repo, created a new branch, made the change, but am not allowed to push the new branch for a pull request. Any help?

[2021-09-14 07:52] #432 closed

[2021-09-14 07:55] mledoze commented on #427
Hi, this was fixed in #433

[2021-09-14 07:55] #427 closed

[2021-09-23 09:44] mikhov-ivan opened #436 "Incorrect flags urls for Ukraine"
**Steps to reproduce:**
1. Do a GET request: https://restcountries.com/v3/name/ukraine
2. Check "flags" field in the response.

**Actual result:**
Flags of Uganda are returned for the Ukraine.
https://restcountries.com/data/uga.*

**Expected result:**
Flags of Ukraine are returned in "flags".
https://restcountries.com/data/ukr.*

![bug](https://user-images.githubusercontent.com/39436815/134486440-

[2021-09-26 18:21] Dhia52 commented on #436
I noticed this issue too. Here is a more readable screenshot of the response.

![image](https://user-images.githubusercontent.com/46674571/134819488-a9e62d3b-8662-4a87-988a-513bc94770ec.png)

[2021-09-29 03:30] amatosg commented on #436
This project does not uses flags

[2021-10-28 16:52] ePascalC opened #437 "cca2 in altSpellings"
Hi @mledoze, what is the reason to have the cca2 also in altSpellings? Is that from history or it has a sense for e.g. searching?

[2021-11-03 18:05] ebenh opened #438 "Default order of countries"
Is there a reason why the default order of countries isn't alphabetical?

For instance, the list starts with "Aruba" instead of "Afghanistan".

IMHO, the list should be sorted by ISO 3166-1 alpha-2 code by default.

[2021-11-08 18:58] lanierc opened #439 "Chinese language-based countries do not include `zho` in `translations`"
## Expected behaviour

- Countries whose native language is Chinese should have `zho` appear in translations like other countries have their native languages appear within the `translations` array

## Actual behaviour

- Countries whose native language is Chinese omits `zho` from the `translations` array.

## Replicate

- Search for South Korea or North Korea in the API.
  - Notice that `kor` appe

[2021-11-13 08:53] ePascalC commented on #437
@mledoze Just checking if you have any idea?

[2021-11-30 21:09] I-keep-trying opened #440 "Wrong flag for Afghanistan"
Taliban flag? Really??? smh...

The json data (v 3.1) currently has the following links for flag images:

[code]

I found the correct flag image, svg only, here:
[code]

or both formats here:
[code]
I'm not from Afghanistan, so, if I'm wrong about this, please let me know, and accept my deepest apologies.

[2021-11-30 22:06] jjlharrison commented on #440
I think you have this repository mixed up with another. There is no "v 3.1" of this project and the flag of Afghanistan is not the Taliban flag: https://github.com/mledoze/countries/blob/master/data/afg.svg

[2021-12-01 19:54] I-keep-trying commented on #440
OMG so sorry, please accept my apologies.

I was confused because the error is in https://restcountries.com/v3.1/all - restcountries.com identifies this repo (you) under "sources" among several others, and I guess I jumped the gun before I verified which source provided the wrong flag.

Again, sorry!

[2021-12-02 11:52] mledoze commented on #440
@I-keep-trying no worries. The project at restcountries.com was built with this dataset but, as far as I know, the data is not synchronized anymore.

[2021-12-02 11:52] #440 closed

[2021-12-02 12:15] mledoze commented on #438
The reason is that the countries are sorted by ISO 3166-1 alpha-3 code. The sort by ISO 3166-1 alpha-2 code puts Andorra first but not Afghanistan.

[2021-12-02 12:18] mledoze commented on #437
Sorry for the delay.

Yes it was meant for searching, but I guess that it's not very useful now because a smart search program could easily find a country based on various fields: `name`, `cca2`, `cca3`, `altSpellings`, etc.

I guess we could remove the cca2 code from altSpellings.

[2021-12-02 12:25] mledoze commented on #436
Hello, I think you've made a mistake. The repository for https://restcountries.com/ is here https://gitlab.com/amatos/rest-countries

[2021-12-02 12:25] #436 closed

[2021-12-02 12:49] #403 closed

[2021-12-02 12:49] #404 closed

[2021-12-02 12:49] #428 closed

[2021-12-02 12:50] mledoze commented on #390
I close this fow now. Feel free to reopen it or send me a PR with the changes when you are ready.

[2021-12-02 12:50] #390 closed

[2022-01-03 08:21] evshvarov opened #442 "If I use your project what license should I mention?"
Hi!
Thanks for the great repo!
If I use the data from your project what license should I use?
1) the same [ODC ODbL](https://github.com/mledoze/countries/blob/master/LICENSE)?
2) no license included but mention your repo in the source?

What about the code in my project for which I wanted to use MIT License. Should I mention both?
Thanks in advance!

[2022-01-03 11:45] mledoze commented on #442
Hi, AFAIK and according to the [ODbL license](https://en.wikipedia.org/wiki/Open_Database_License), you must use the same license. You can use the example notice provided in the license: https://github.com/mledoze/countries/blob/86fd7ef8076dd65e2527b95d67d03e0b09044f42/LICENSE#L271-L275

You keep the MIT license for your project but you must add a notice regarding the data (and its license) from t

[2022-01-05 16:42] schaumannj opened #443 "Kosovo cca3"
Dear All,
do you think that the Kosovo country code in alpha 3 ISO can be changed to KOS from UNK?

[2022-01-05 16:59] schaumannj opened #444 "Singapore and Malaysia borders"
Dear All,
do you think that Singapore and Malaysia can have the same borders if India and Sri Lanka has them?

[2022-01-05 17:48] schaumannj commented on #444
moreover Sri Lanka has India as neighbor but India does not (India borders are only ['BGD', 'BTN', 'MMR', 'CHN', 'NPL', 'PAK'])

[2022-01-10 20:13] ePascalC commented on #443
To my knowledge Kosovo does not have an official 3-digit code yet, but I would stick to UNK.
For passports UNK is used (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)

[2022-01-29 21:41] maent45 opened #446 "Algeria population is wrong"
Hi,

Going to https://restcountries.com/v3.1/alpha/dza (Algeria), the population is wrong.

Actual result:
population: 510,713

Expected result:
population: 43.8 million

[2022-02-22 21:06] NMRayhan opened #448 "Bangladesh area is Wrong"
Hi,

Going to https://restcountries.com/v3.1/alpha/bd (Bangladesh), the area is wrong.
resource: https://en.wikipedia.org/wiki/Bangladesh

Actual result:
area: 147,570 km²

Expected result:
population: 148,460 km²

[2022-02-22 21:14] xgebi commented on #448
RestCountries.com has data in different repository https://gitlab.com/amatos/rest-countries

[2022-02-23 07:00] mledoze commented on #448
@xgebi is right, you should open an issue on https://gitlab.com/amatos/rest-countries repository.

[2022-02-23 07:00] #448 closed

[2022-02-23 07:01] mledoze commented on #446
Hello, this API does not use this repository, you should open an issue here https://gitlab.com/amatos/rest-countries

[2022-02-23 07:01] #446 closed

[2022-02-23 07:10] mledoze commented on #443
I would stick with UNK for the moment. `KOS` is the IOC country code, see https://en.wikipedia.org/wiki/Country_codes:_J%E2%80%93K#_Kosovo

[2022-02-23 07:10] #443 closed

[2022-02-23 07:11] #438 closed

[2022-02-23 07:11] #437 closed

[2022-04-06 06:20] maquejp opened #451 "Possible other source (Europe) of information for your project"
Hello,
Maybe you already know, but just in case: https://ec.europa.eu/eurostat/web/nuts/background
They have also a repo: https://github.com/eurostat/Nuts2json

[2022-04-26 16:50] reeseovine opened #452 "Include the State of Palestine 🇵🇸"
https://en.wikipedia.org/wiki/State_of_Palestine

You might notice there are areas bordering Israel, often referred to as the West Bank and Gaza Strip. These belong to Palestine which declared independence in 1988 and is recognized by 138 UN member states.

[2022-05-17 10:53] Emil-Wozniak opened #453 "Typo in dist/countries-unescaped.json"
In line line 81, in translations for "United Kingdom"

 "pol": { "common": "Zjednoczone Krłlestwo"  } should be "Zjednoczone Królestwo"

 Sample of use:
 https://pl.wikipedia.org/wiki/Zjednoczone_Kr%C3%B3lestwo
 https://ec.europa.eu/taxation_customs/ue-zjednoczone-krolestwo-nowe-stosunki_et

[2022-06-01 19:27] hyandell opened #454 "Flag/map licensing"
Hi Mohammed,

I'm unsure what the flag/map licensing is. ODBL is a bit unusual for, at least, images.

I noticed in https://github.com/mledoze/countries/issues/340 that the flag came from https://github.com/apilayer/restcountries

That project appears to be under the MPL-2.0 license. Are the flags all under MPL-2.0? Is the map data also from there?

[2022-06-12 03:11] ToastyMang0 opened #455 "Update flags"
Mauritania, France, Afghanistan and Honduras are all outdated flags. Could this be updated to improve accuracy?

[2022-06-13 08:34] mledoze commented on #455
Yes, I will update them

[2022-06-26 08:53] albu77 opened #456 "Is there an example to show how to exclude translation"
I would like to keep only english and french...

[2022-08-20 08:11] kerams opened #460 "Languages of Afghanistan"
Turkmen is included in the list, but it does not seem to be official on the national level. Quoting from [Wikipedia](https://en.wikipedia.org/wiki/Languages_of_Afghanistan):

Given that it's spoken by a mere 2% of the population and the fact that it does not really stand out among the "regionally official" languages, I think Turkmen should be removed from the list of official languages.

[2022-08-20 08:25] kerams opened #461 "Languages of Namibia"
9 languages are currently on the list. However, [English is the only official language](https://en.wikipedia.org/wiki/Languages_of_Namibia) despite the lower percentage of speakers.

[2022-08-20 08:28] kerams opened #462 "Languages of the Democratic Republic of the Congo"
5 languages are currently on the list. However, [French is the only official language](https://en.wikipedia.org/wiki/Languages_of_the_Democratic_Republic_of_the_Congo).

[2022-09-23 16:03] minisaw opened #465 "inconsistent specification of the absence of calling codes"
the unescaped json generated file https://raw.githubusercontent.com/mledoze/countries/master/dist/countries-unescaped.json contains the "no calling codes" specification in several different manners, e.g.

Heard Island and McDonald Islands:
    "callingCodes": [
      ""
    ]

Antarctica:
    "callingCodes": []

i think it would be better to use a unified convention, e.g. the empty array only.

[2022-09-29 08:02] mledoze commented on #465
Hi @minisaw, you're right, I will fix this.

[2022-11-09 10:25] koesper commented on #360
4.1.0 also seems to be missing from NPM?

[2022-11-13 21:37] herrjemand commented on #452
@reeseovine It does have it
<img width="137" alt="Screen Shot 2022-11-14 at 01 37 11" src="https://user-images.githubusercontent.com/1636116/201545788-c77a2034-8be4-44e1-9b71-c7f48963e96c.png">